[2022-06-02 16:33] yzhao1012 commented on #447
Turns out that the VM started by rancher-desktop does not have Kernel config file, that’s a list of config entries originally used in building the kernel. Pixie uses it to patch the packaged headers to make them as close to the actual kernel as possible.

https://github.com/lima-vm/lima/issues/874
I have created this issue on lima-vm, which is the VM tool used by rancher-desktop.

[2022-06-02 16:41] jandubois commented on #447
The file is available in the boot image:

[code]

[2022-06-02 17:42] anshrma opened #452 "Deploy Pixie Control Plane via Helm(V3)"
**Is your feature request related to a problem? Please describe.**
Currently deploying self managed Pixie is a series of Kustomize commands and additional manual steps around DNS setup, cert management, which makes it difficult to install , manage and automate.

**Describe the solution you'd like**
If there is a helm chart available for installing Pixie control plane we can use (1) External DNS Pr

[2022-06-02 18:06] yzhao1012 commented on #447
Thanks @jandubois !
I've added `/media/sr0/boot/config-virt` into Pixie's config search path, and verified that Pixie now works fine on rancher-desktop, on Ubuntu Linux.

I still need to verify on mac. Since initial examination shows that `/media/sr0/boot/config-virt` does not exist on my m1 macbook air running with Lima VM.

[2022-06-02 19:58] jandubois commented on #447
@yzhao1012 Could you include instructions here on how you got Pixie installed on RD, especially once you have it working on macOS? Thank you!

[2022-06-02 20:01] benkilimnik opened #453 "Improve data redaction for PII/sensitive data"
**Is your feature request related to a problem? Please describe.**

Pixie supports a `PIIRestricted` data access mode that replaces instances of PII with `<REDACTED_$TYPE>` using [`redact_pii_best_effort`](https://docs.px.dev/reference/pxl/udf/redact_pii_best_effort/). Currently only a limited number of PII types are redacted (IPs, emails, MAC addresses, IMEI, credit cards) and accuracy may vary.

[2022-06-02 21:44] yzhao1012 commented on #447
Re:
Once rancher-desktop is installed and launched, follow https://docs.px.dev/installing-pixie/install-guides/community-cloud-for-pixie to install Pixie.
That instruction just uses local kubectl config to figure out the target kubernetes cluster and how to reach it. Then deploy Pixie with a predefined packages from public GCR repos.

[2022-06-03 02:25] tharinduwijewardane commented on #449
What is the feasibility of this? Can someone please point to the existing code where pod ids and pod names are extracted.

[2022-06-07 17:21] tharinduwijewardane opened #455 "Go https requests not appearing in http_events"
**Describe the bug**
According to https://docs.px.dev/about-pixie/data-sources/#encryption-libraries tracing go TLS traffic is supported.
But when a simple go client which calls an external https endpoint, is deployed and run, the request does not appear in the http_events table. If the url is changed to http, then it appears as usual.

**To Reproduce**
1. Write the following go program
[code]
2.

[2022-06-08 00:19] tharinduwijewardane commented on #455
Additional observation:
https requests are traced over http1. I added the following line at the start of main function to force http1. Then the https request appeared in the http_events table.
`os.Setenv("GODEBUG", "http2client=0")`

[2022-06-08 17:11] yzhao1012 commented on #447
We have added 2 kernel config paths used by rancher-desktop's CDRom-boot kernel image, under @jandubois' information.
See https://github.com/pixie-io/pixie/commit/57e1dfd2f335d59521ec35c2191ca84c4d12e89d

You should be able to test this after this week's Vizier release.

[2022-06-08 17:51] yzhao1012 commented on #455
This is consistent with our finding that HTTP2 is used on the TLS connection. And Pixie does not support parsing http2 because of https://blog.px.dev/ebpf-http2-tracing/#when-does-wireshark-fail-to-decode-http2-headers.

But it seems we might want to bring back the http2 parsing.

This is another case where the uprobe-based http2 tracing falls short, because it seems the APIs used by http client t

[2022-06-08 18:48] jdix531 opened #456 "process_stats reporting memory incorrectly (condition unclear, perhaps specific container?)"
**Describe the bug**
Hi, I have an issue where memory info from process_stats table (rss_bytes / vsize_bytes) seems incorrect for at least one container in a manner which seems not particularly predictable or clearly reproducible (happens occasionally over time). For example, I am reported that the rss_bytes of a container (parc_logger_api, pictured below in Figure 1 and unnamed but the 1.2TB in f

[2022-06-12 05:09] tharinduwijewardane commented on #447
@yzhao1012 I got this exact error and I tried to build vizier and deploy it by following [the development guide](https://github.com/pixie-io/pixie/blob/main/DEVELOPMENT.md)
But I keep getting the following output.

<details>
  <summary>Output of `skaffold run -f skaffold/skaffold_vizier.yaml`</summary>

Generating tags...
 - gcr.io/pixie-oss/pixie-dev/vizier/pem_image -> gcr.io/pixie-oss/pixie-dev

[2022-06-13 20:58] yzhao1012 commented on #450
Sorry for the delay. I followed [rancher quickstart on gcp](https://rancher.com/docs/rancher/v2.6/en/quick-start-guide/deployment/google-gcp-qs/), and managed to install pixie on one of the created kubernetes clusters.

Aftwards, I am able to see the http traffic for pod `vizier-operator-77f959df76-k7blz`, as shown in the attached screenshot. The service graph shows the pod are sending and receivi

[2022-06-14 08:16] wsszh commented on #347
@vihangm Hi, I'm trying to install self-hosted pixie on dev k8s cluster in my company, and I find the same problem as this issue posted. Is it possible to change the service from loadbalancer to nodeport?

[2022-06-14 13:16] aslafy-z commented on #450
https://rancher.com/docs/rancher/v2.6/en/quick-start-guide/deployment/google-gcp-qs/ is for deploying Rancher Server (not RKE), on a K3S cluster. This Rancher Server can then be used to provision a RKE cluster, by starting a agent on linux nodes (guide: https://rancher.com/docs/rancher/v2.6/en/cluster-provisioning/rke-clusters/custom-nodes/, node requirements: https://rancher.com/docs/rancher/v2.6

[2022-06-14 15:50] bpschmitt opened #459 "px cli glibc error on Ubuntu 20.04.4 LTS"
**Describe the bug**

I'm receiving the following GLIBC errors when attempting to authenticate with the `px` cli.

[code]

**Expected behavior**

Successful authentication with `px` cli.

[2022-06-14 19:14] #459 closed

[2022-06-15 08:18] wsszh commented on #238
Hi, I'm trying to install self-hosted pixie on dev k8s cluster in my company, and I find the same problem as issue #347 posted. As I'm using a real k8s not like minikube, I don't know how to fix it. Is it possible to change the service from loadbalancer to nodeport?
And I follow the "Self-Hosted Pixie Install Guides" in the doc, and noticed that in k8s/cloud/public/kustomization.yaml it uses overl

[2022-06-15 16:46] bpschmitt opened #460 "px deploy cluster type check fails for k3s"
**Describe the bug**
I'm attempting to deploy Pixie into a `k3s` cluster which is listed as supported in the [Pixie docs](https://docs.px.dev/installing-pixie/requirements/#kubernetes-local-development-environments).

The `Cluster type is supported` check passes, but then fails later saying the cluster type isn't in the list of known supported types.

I'm able to manually proceed with the deploy b

[2022-06-15 17:05] htroisi commented on #460
Looks like we are doing a strict match for `k3s` after the `+` split, instead of a regex looking for `k3s`: https://github.com/pixie-io/pixie/blob/c808313f1374e7b62255e667526fe3855d2f37e7/src/pixie_cli/pkg/utils/checks.go#L146

[2022-06-15 23:39] zasgar commented on #449
@tharinduwijewardane, This will be a great feature for us to have. Are you interested in contributing this? We can help out as needed.

[2022-06-15 23:42] zasgar commented on #448
@aimichelle , not sure if this is UI or backend related. Based on that we should set the priority appropriately.

[2022-06-15 23:43] zasgar commented on #447
Related issue: #450

[2022-06-15 23:44] oazizi000 commented on #439
As mentioned, Go 1.18 is supported. Go 1.19 is not yet released, but will be supported.

[2022-06-15 23:44] #439 closed

[2022-06-15 23:45] yzhao1012 commented on #456
Thanks for reporting. No clue of what's going on.

* Could you copy the `/proc` output with `cat /proc/<PID>/status` and copy the output to this thread?
* Create a `mem.pxl` file with the following content:
[code]
And run `px run -f mem.pxl`.

[2022-06-15 23:47] zasgar commented on #445
@nilushancosta, any chance you are interested in contributing this? I think the change should be isolated to auto service.

[2022-06-15 23:52] zasgar commented on #435
@FutureMatt, awesome thanks for taking a look! Any luck on fixing this issue?

[2022-06-15 23:59] zasgar commented on #429
@shashipramod, is this still an issue or did the memory limit change work?

[2022-06-16 00:00] zasgar commented on #422
@bdols, are you able to reproduce this issue? Do you still see it?

[2022-06-16 00:05] zasgar commented on #417
@diegobes , we have not been able to reproduce this issue. It might be related to a bad migration or a bug that has already been fixed. Please reopen if you continue have issues with this.

[2022-06-16 00:05] #417 closed

[2022-06-16 06:09] collabnix opened #461 "Adding Pixie as a Docker Desktop Extension"
Extensions allows developers to seamlessly connect their favourite development tools to your application development and deployment workflows. It would be great to see Pixie as a Docker desktop extension.

Learn more: https://www.docker.com/blog/docker-extensions-preview/

[2022-06-16 07:05] tharinduwijewardane commented on #449
@zasgar Yes. I had difficulties building pixie locally (asked them in pixienaut channel). Finally I could get it working with ubuntu 22.04. I am going to look into this now.

[2022-06-16 15:51] jdix531 opened #462 "plugin pxl-scripts are wiped on disable; consider scm integration?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Hi, today I was trying to change my otel path in my cluster after making some scaling changes for my deployment and upon disabling the extension all of my custom pxl_scripts for the plugin were wiped! I've already brought up some concerns

[2022-06-16 20:13] yzhao1012 commented on #455
So far only the official golang gRPC/HTTP2 (with and without TLS) is supported.

General HTTP2 is not supported in Pixie, all the following are not supported:
* HTTP2 with or without TLS
* HTTP-to-HTTP2 auto-upgrade with or without TLS

[2022-06-16 20:22] zasgar commented on #462
Hi @jdix531, we have been actively thinking about adding this to our system. So sorry for the issues that you ran into. I'll link the feature ticket to this shortly.

[2022-06-16 20:27] htroisi commented on #460
Fixed in https://github.com/pixie-io/pixie/commit/2f10816e08924ae71c37adf2bbb193cae4925fc7

[2022-06-16 20:35] htroisi commented on #447
@yzhao1012 - I just tested this on my Intel Macbook and it now works for me (I was previously able to reproduce the issue). Given that you've confirmed that it also works on M1 Macbook and Linux, should we add `Rancher Desktop` as a supported environment to Pixie's [Requirements](https://docs.px.dev/installing-pixie/requirements/) page?

[2022-06-17 09:29] Dentrax opened #465 "Login with GitHub Support"
**Is your feature request related to a problem? Please describe.**
Currently we only able to sign using mail or google accout. It would be great to have a GitHub provider in the login page: `$ px auth login`

**Describe the solution you'd like**
Add GitHub login support at `https://work.withpixie.ai/auth/callback`

**Describe alternatives you've considered**
`-`

**Additional context**
`-`

[2022-06-17 09:42] Dentrax opened #466 "Consider clarify `ERR: Cluster type is not in list of known supported cluster types` error during installation even `Cluster type is supported` (Self-hosted, met all requirements, fresh install)"
**Describe the bug**
I'm getting `` error on fresh installation on the self-hosted cluster. I double-checked that all requirements are met.

Also it would be great to clarify the error message something like:
* Supported cluster types: foo, bar, baz; but you have qux
* Windows deos not supported yet
* ARM does not supported yet
* etc.

**To Reproduce**
Steps to reproduce the behavior:
1. `$ bash -

[2022-06-17 11:22] Dentrax commented on #466
I take a [look at the code](https://github.com/pixie-io/pixie/blob/2f10816e08924ae71c37adf2bbb193cae4925fc7/src/pixie_cli/pkg/utils/checks.go#L70-L157) and couldn't see a condition that check if cluster self-hosted K8s. Any ideas? @vihangm @philkuz

[2022-06-17 20:31] yzhao1012 commented on #447
Dockerd runtime wont work.
Actually, you have to use the VM driver, like what Hannah and I tested with rancher-desktop.
As docker (or any container-based kubernetes desktop environment) is not compatible with Pixie (PEM specifically).

The reason is that PEM needs to access the host kernel's system filesystem to compile BPF code.
Container-based kubernetes desktop environment hides the host filesy

[2022-06-17 20:34] yzhao1012 commented on #450
Docker (or any container-based kubernetes desktop environment) is not compatible with Pixie (PEM specifically).

The reason is that PEM needs to access the host kernel's system filesystem to compile BPF code.
Container-based kubernetes desktop environment hides the host filesystem from PEM and breaks it.

I probably can find time later to experiment with RKE following https://github.com/pixie-io/p

[2022-06-22 18:18] laxmansoma1903 commented on #238
@wsszh - We are running in to same issue as you have , please help us...

[2022-06-22 18:42] tharinduwijewardane commented on #449
@aimichelle @zasgar I submitted a PR for this. Could you please review.

[2022-06-22 19:06] chengruizhe opened #469 "BPFTrace Uprobe Support"
**Is your feature request related to a problem? Please describe.**
The current bpftrace feature allows attaching kprobes to kernel functions, but not to any user space functions.

**Describe the solution you'd like**
BPFTrace support for deploying custom uprobes to user space functions. This would enable dynamic tracing of any user space applications or libraries. It should be able to deploy to al

[2022-06-23 06:51] MrSupiri opened #470 "Allow BPFTrace scripts to run indefinitely"
**Is your feature request related to a problem? Please describe.**
Currently, Pixie allows users to deploy bpftrace scripts to collect custom telemetry data which ain't offered by Pixie (e.x - [oom_kill](https://github.com/iovisor/bpftrace/blob/master/tools/oomkill.bt)). But there isn't a way to make Pixie continuous looks for those traces in the background indefinitely.

**Describe the solution y

[2022-06-24 19:00] aimichelle opened #471 "Add Memory Limiter in Kelvin"
**Is your feature request related to a problem? Please describe.**
Some users are applying a memory limit on Kelvin to avoid memory spikes when running large queries. Using the K8s memory limit will cause the Kelvin to OOMKill when it does run these larger queries. This can make it appear that the Pixie deployment is unstable.

**Describe the solution you'd like**
Rather than trying to process all

[2022-06-25 04:25] vihangm commented on #460
This should be fixed in cli release [v0.7.14](https://github.com/pixie-io/pixie/releases/tag/release%2Fcli%2Fv0.7.14)

[2022-06-25 04:25] #460 closed

[2022-06-27 15:57] #449 closed

[2022-06-27 16:08] #259 closed

[2022-06-27 17:08] Dentrax commented on #466
Thanks Philip! So what do you think about the suggestions that i wrote in the issue to enhance overall UX for the end users?

[2022-06-28 19:58] laxmansoma1903 commented on #431
@zasgar - we are trying to perform similar as above , can you please provide the timeline if possible on when we can have helm charts available..

[2022-06-30 14:37] vihangm commented on #401
Pixie CLI is now available in homebrew!

You can use `brew install pixie` to install. Note that the binary is stall called `px`.

[2022-06-30 18:47] vikranth22446 commented on #332
Hi @tsipo, I'm working on adding AMQP support. I have an initial UI with the protocol parsed. What kind of fields/metrics/
graphs would you be interested in?

Attached an Image of the AMQP 0.9 showing up the pixie dashboard:
<img width="1838" alt="inprogress_amqp_ui_showing_on_dashboard" src="https://user-images.githubusercontent.com/10752522/176754431-175c294b-26f9-4aad-ad02-9339d962875d.png">

[2022-06-30 19:04] maxlemieux opened #473 "Allow custom registry path for container images"
**Is your feature request related to a problem? Please describe.**
Installing to air gapped  environments or clusters which use private container registries, is currently complicated by the lack of a configuration setting for Docker container registry path.

Since many Pixie resources are pulled in via operator, and don't have a presence in the installation manifest, users can't currently point to

[2022-07-03 13:08] yinleixu opened #474 "Error when DeployingVizier"
![error](https://user-images.githubusercontent.com/30719410/177041193-2ca58a92-cff6-4ded-b108-be4ff01d5c92.png)
[nodes.log](https://github.com/pixie-io/pixie/files/9034818/nodes.log)

the server.log is empty

[2022-07-03 16:42] aimichelle commented on #474
Hello @yinleixu ! Sorry to hear you're running into this issue.
I just tried reproducing by deploying a self-hosted cloud + vizier off of main, but was unable to. Can you confirm which commit hash you are building off of, and versions you are running for the CLI and Pixie operator?
For CLI: `px version`
And for operator version: `kubectl get pods -n px-operator` `kubectl describe pod vizier-operat

[2022-07-05 10:47] LakshanKarunathilake opened #475 "MySQL events are not recorded in mysql_events table for Java"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
I deployed a java application connecting the MySQL database in Azure. I initially verified with this go application and it successfully recorded events in the tables. The Java application code is as below

[code]

**Expected behavior**
MySQL events should be recorded in `mysq

[2022-07-05 13:11] yinleixu commented on #474
Thank you for your reply，I have some image pull err. I can't pull the image from gcr.io,but i have load it to environment.
I want set  all yaml file  imagePullPolicy: Never,  where i can set it apply for all when px deploying.
![1657026702862](https://user-images.githubusercontent.com/30719410/177335729-e8801b1b-e703-4a52-a9f7-a5206fd24ad6.png)

[2022-07-06 08:14] yinleixu commented on #474
hi:
The fllow infomation as you want to see.
![1657094947871](https://user-images.githubusercontent.com/30719410/177502186-55ac4a15-e304-4827-b13d-7ec1ae8be465.png)

[root@master ~]# kubectl get pods -A
NAMESPACE        NAME                                       READY   STATUS             RESTARTS   AGE
default          recycler-for-pv2                           0/1     Completed          0

[2022-07-06 17:09] zasgar commented on #269
I'm closing this issue because it's so old. If you are still running into this issue please let us know.

[2022-07-06 17:09] #269 closed

[2022-07-06 17:09] zasgar commented on #239
Closing this since we are switching to use Github. Option (1).

[2022-07-06 17:09] #239 closed

[2022-07-06 17:10] #242 closed

[2022-07-06 17:10] #67 closed

[2022-07-06 21:29] htroisi commented on #266
The latest Pixie Cloud release includes fixes that make it possible to install Pixie in an air gap environment. Please let us know if you run into any issues following the instructions below. Note that we hope to make this process much easier in subsequent releases!

# Installing Pixie in an Air Gap Environment

To install Pixie in an air gap environment, follow the self-hosted [install guide](htt

[2022-07-06 21:32] aimichelle commented on #474
Got it, we just added some deploy instructions for airgapped environments in https://github.com/pixie-io/pixie/issues/266 (see most recent post).
This should help resolve the ImagePull issues that you have been seeing.

I will close out this issue in favor of that one--please let us know there if it works/doesn't work for you. Thanks!

[2022-07-06 21:32] #474 closed

[2022-07-06 21:32] htroisi commented on #390
To install Pixie in an air gap environment, see the instructions [here](https://github.com/pixie-io/pixie/issues/266#issuecomment-1176767126).

[2022-07-07 03:37] laxmansoma1903 commented on #431
Please let us know if you able to achieve this,.....

[2022-07-07 15:43] sync-by-unito[bot] opened #476 "UI: In row inspector, script_reference columns should be rendered as links"
┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PC-1551) by [Unito](https://www.unito.io)
┆Attachments: <a href="https://pixie-labs.atlassian.net/rest/api/2/attachment/content/10740">image-20220629-221346.png</a>

[2022-07-07 15:43] sync-by-unito opened #477 "Switching coloring mode on Service Graph has noticeable lag for large graphs"
Repro steps:
1. Deploy a cluster with reasonable amount of network traffic
2. Go to px/cluster for the cluster
3. Turn off clustering by service
4. Switch the coloring mode, notice it takes a few seconds

You would expect switching the coloring mode should be instantaneous.

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PC-1550) by [Unito](https://www.unito.io

[2022-07-07 15:43] sync-by-unito[bot] opened #478 "Old pod instances still exist in elastic for some clusters"
We have seen cases where some pods are still indexed as “running” in Elastic, despite having terminated long ago.

Repo steps:

1. Go `px/pod`.
1. Type in `kelvin` into the pod field.
1. See autocomplete results for many Kelvins that are no longer actually alive.

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PC-1537) by [Unito](https://www.unito.io)
┆Attachme

[2022-07-07 15:43] sync-by-unito[bot] opened #479 "Bad axis time formatting in Charts for times over 1 minute"
Notice in the timeseries screenshot the top of the Y axis  it should say 1 min 0 s

To trigger correct behavior, run the following in ScratchPad

[code]

To trigger incorrect behavior, edit any existing timeseries chart but replace the column being plotted in the PxL script to `px.DurationNanos(60*1000*1000*1000)`

!image-20220510-222406.png|width=1324,height=442!

┆Issue is synchronized with this

[2022-07-07 15:47] sync-by-unito[bot] opened #480 "px/perf_flamegraph distortions"
If running the `px/perf_flamegraph` script, it's possible more than 10,000 stack traces are queried. Our scripts, however, silently cap this to 10,000 rows, which results in distorted flamegraphs. The distorted flamegraphs are then very misleading.

Note that this happens when the (time window * number of pods) is large.

We need a way to either avoid these distortions or detect them and show an e

[2022-07-07 21:11] TarasPriadka opened #481 "Check options for validity on new Pixie Client creation"
**Is your feature request related to a problem? Please describe.**
When creating Pixie Client using go api using `pxapi.NewClient(pxapi.WithAPIKey(apiKey))`, no checks are done on the API key, so you can pass an invalid API key and not get any error that this API key is invalid(ex. empty, not the right amount of characters, unauthenticated, etc.). You actually only get an error when trying to crea

[2022-07-07 21:41] #476 closed

[2022-07-07 21:41] #477 closed, assigned to nobody

[2022-07-07 21:41] #478 closed

[2022-07-07 21:41] #479 closed

[2022-07-07 21:41] JamesMBartlett opened #482 "CLI can't CTRL-C on when when waiting for healthcheck during deploy."
**Describe the bug**
When running `px deploy`, once the CLI gets to the "Waiting for Healthcheck stage", the user can no longer CTRL-C to exit the CLI.

**To Reproduce**
1. Run `px deploy`
2. Wait for the CLI to print "Wait for healhcheck"
3. Press CTRL-C, and see that the CLI doesn't exit

**Expected behavior**
Expected that the CLI exits at step 3 above.

[2022-07-07 21:41] sync-by-unito[bot] opened #483 "Improve protocol flow graph visualizations in the UI"
We have some nice visualizations for the flow of traffic in Pixie, such as `px/tcp_drops` and `px/mysql_flow_graph`.

However, these aren’t as nice as say, `px/cluster`.

In `px/cluster`, which uses the `vis.RequestGraph` visualization type: Source and destination are treated in a type-smart way in the `vispb.RequestGraph` panel type, which means that we will show a pod, service, or IP depending o

[2022-07-07 22:12] #483 closed

[2022-07-11 03:57] tuninger commented on #364
How was this problem solved?

[2022-07-11 04:23] LakshanKarunathilake commented on #475
When I disable the tls connection, the mysql_events table was populated. I think the issue is with the secured connections.

[2022-07-11 05:09] nr-pmoses commented on #471
@aimichelle please can I ask if we are on track to complete the memory fix for this issue ASAP? Thanks

[2022-07-11 11:21] tuninger opened #484 "dev_dns_updater execution result exception"
After executing the following command, No host records are generated in the /etc/hosts file, is there something wrong with my understanding?

#./dev_dns_updater` --domain-name="dev.withpixie.dev"  --kubeconfig=$HOME/.kube/config --n=plc
INFO[0000] DNS Entries                                   entries="dev.withpixie.dev, work.dev.withpixie.dev, segment.dev.withpixie.dev, docs.dev.withpixie.dev" ser

[2022-07-11 15:44] ddelnano commented on #475
@LakshanKarunathilake from the sample code you shared it's not clear to me that tls is being used. Can you explain how you are disabling it?

I ask because I'm curious what tls library your code is using. If it's based on netty the work I'm doing in #407 could make this possible (although it's not complete yet).

[2022-07-11 19:48] htroisi opened #485 "Add Pixie UI support for script bundle env var"
**Problem**
When [installing Pixie in an air gap environment ](https://github.com/pixie-io/pixie/issues/266#issuecomment-1176767126), the Pixie UI will fail to load, unless you set up the script dev environment:
![image](https://user-images.githubusercontent.com/66266496/178346154-26800cb7-2eb3-40fb-af38-c01d73286407.png)

**Feature request**
The UI should honor an env variable at build time to po

[2022-07-11 20:08] htroisi opened #486 "Add air gap artifact bundle to release process"
**Problem**
[Installing Pixie in an air gap environment](https://github.com/pixie-io/pixie/issues/266#issuecomment-1176767126), requires many manual steps including creating a list of required images (for Cloud and Vizier) and using `kustomize` to create several Kubernetes manifests. These steps are universal to all air gap installations.

**Feature request**
Add an air gap artifact bundle that is

[2022-07-11 21:41] nserrino commented on #34
When we do this, we should add deployment as a field in the Otel plugin export scripts.

[2022-07-12 03:47] laxmansoma1903 commented on #431
Hi Starostin - Did you able to make it work?

[2022-07-12 04:21] LakshanKarunathilake commented on #475
@ddelnano I used the `?useSSL=false`

[2022-07-12 04:59] sync-by-unito[bot] opened #487 "Operator forces Vizier to be stuck in Updating"
The operator can get into a state where the Vizier is stuck in “Updating”. This can happen when a user manually manipulates `vizier.yaml`, such as deleting then recreating.

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PP-3434) by [Unito](https://www.unito.io)

[2022-07-12 04:59] sync-by-unito[bot] opened #488 "px.Time should be a valid type for all acceptable inputs to px.DataFrame"
Scripts specify `start_time` as a `str`. This makes the system incompatible with integer times that come from `px.now()`. We should make sure that `px.Time` can be valid type. The current issue is that using `px.Time` will fail for string arguments. It probably should pass for string arguments that can parse into valid times.

┆Issue is synchronized with this [Jira Story](https://pixie-labs.atlass

[2022-07-12 04:59] sync-by-unito[bot] opened #489 "negative value for head() (limit node) rejected because of IRNode type"
The type of the argument for the limit node is funky. Currently we throw an incomprehensible error that the IRNode type is incorrect. `-1` gets rendered as a function type rather than an integer. Then when MemorySource receives it, it rejects the function.

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PP-3432) by [Unito](https://www.unito.io)

[2022-07-12 05:00] sync-by-unito[bot] opened #490 "Operator logs spam "Could not update K8s resource for services""
[code]

During Vizier updates, the operator spams warnings to the log. However, these errors are expected and do not cause any deployment/update issues. They should be fixed as they can be a red herring when trying to figure out other underlying issues.

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PP-3430) by [Unito](https://www.unito.io)

[2022-07-12 05:00] sync-by-unito[bot] opened #491 "Metrics Server drops metrics under high load"
The metrics server can’t keep up with all the metrics load. We should optimize and/or shard it.

cc. [~accountid:5f8fbf47461cc400752cdfba]

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PP-3428) by [Unito](https://www.unito.io)

[2022-07-12 05:00] sync-by-unito[bot] opened #492 "Metadata should resolve from the semantic type and type of columns rather than names"
Metadata currently resolves data based on the column name. It should probably use the semantic type of the column instead, as that is more accurate and less brittle.

┆Issue is synchronized with this [Jira Task](https://pixie-labs.atlassian.net/browse/PP-3425) by [Unito](https://www.unito.io)

[2022-07-12 05:00] sync-by-unito[bot] opened #493 "Compiler: function type checker points to the variable declaration rather than the function call"
[code]

causes an error on line 5 which is super confusing.

!image-20220615-145659.png|width=970,height=299!

Instead the error should be on line 6 pointing to end_time reference.

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PP-3422) by [Unito](https://www.unito.io)
┆Attachments: <a href="https://pixie-labs.atlassian.net/rest/api/2/attachment/content/10732"

[2022-07-12 05:00] sync-by-unito[bot] opened #494 "Add kernel version check for bpf_trace scripts."
`tcp_drop` has been inlined in Ubuntu 22.04. We should implement some kernel version check and report error messages if the kernel version doesn’t meet requirement.

┆Issue is synchronized with this [Jira Task](https://pixie-labs.atlassian.net/browse/PP-3417) by [Unito](https://www.unito.io)

[2022-07-12 05:00] sync-by-unito[bot] opened #495 "Golang HTTP/1.1 gzip and chunked response data not parsed."
The following golang client does not get traced by Pixie:

    	url, exists := os.LookupEnv("EGRESS_URL")
    	if !exists {
    		log.Fatal("Must specify EGRESS_URL in environment to run malicious egress. See README.md.")
    	}

    	jsonData := []byte(`{
    	  "name": "Pixie Pixienaut",
    	  "cc":"5105-1051-0510-5100",
    	  "phone":"555-555-0100"
    	}`)

    	client := &http.Client{

[2022-07-12 05:00] sync-by-unito[bot] opened #496 "Golang HTTP/2 TLS client side data not traced"
Using a simple golang client to call an HTTPS endpoint leads to data not being traced.

Note that even when forcing golang to use an HTTP/1.1 client instead of HTTP2 this data is still not traced for seemingly gzip related reasons, see [https://pixie-labs.atlassian.net/browse/PP-3402](https://pixie-labs.atlassian.net/browse/PP-3402|smart-link)  for tracking of that issue.

The client:

    	url, e

[2022-07-12 05:00] sync-by-unito[bot] opened #497 "During k8s upgrade vizier has multiple PEMs with the same ASID"
During a k8s node upgrade, the vizier on the Pixie staging cluster had two pems with the same asid (both were asid == 1).

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PP-3396) by [Unito](https://www.unito.io)

[2022-07-12 05:01] sync-by-unito[bot] opened #498 "K8s shutdown timeout may prevent PEM graceful shutdown from completing."
Kubernetes has a graceful termination time limit. This time limit may be too low for a pem shutdown to complete. We should:
1. Try to characterize how long it takes to shutdown a PEM, e.g. marginal cost in time per uprobe & kprobe.
2. Pick a better K8s timeout and update yamls.
3. Add a test.

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PP-3283) by [Unito](h

[2022-07-12 05:01] sync-by-unito[bot] opened #499 "Libuv is not shut down on pem shutdown."
To reproduce the error, deploy a cluster and then log onto a node that has a pem, and then kill the pem:

[code]

By adding some logging, you can observe that we fall through to the while loop in the `Manager::Stop()` method, but, `running_` is never set to false, i.e. libuv does not exit.

[code]

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PP-3282) by [Uni

[2022-07-12 05:01] sync-by-unito[bot] opened #500 "gunzip failure when gRPC decompression is enabled"
Stirling now supports gRPC decompression. However, during a brief testing on gke:prod cluster, gunzip failures were identified through the relevant log lines in the code.

One possible culprit is that the events are delivered to userspace out of order, and http2 tracing does not use DataStreamBuffer (as is used by kprobe-based pipeline). Those data will fail gunzip.

A corollary to the above specu

[2022-07-12 05:01] sync-by-unito[bot] opened #501 "[pgsql tracing] PGSQL protocol parsing should correctly ignore unsupported messages"
Existing code does not support all message types of PGSQL, because of lack of time.

The behavior, however, just errors out when encounter unrecognized message types. That is wrong. As certain unhandled message will cause the whole parsing pipeline restart, and causes cascading failures down the pipeline, like messing up the message stitching.

So the code should be changed to recognize the messag

[2022-07-12 05:01] sync-by-unito[bot] opened #502 "Operator should help autorecover in common deploy failure states"
We have noticed several common Vizier failure states from observing our unhealthy user clusters. A lot of these cases may occur throughout the lifetime of the cluster (for example, high load causing evictions), and leave Vizier in an unhealthy state. At the current moment, the only remediation for these clusters is to manually clobber and redeploy.
Since we have the operator running in the cluster

[2022-07-12 05:02] sync-by-unito[bot] opened #503 "Operator should auto-renew TLS certs"
In our current state, when a user deploys Pixie, the operator generates TLS certs that are valid for 1 year.
However, after the year is over, the TLS certs will expire and the user will need to redeploy Pixie in order to regenerate them.

We can now use the operator to automatically renew the TLS certs when they are close to expiration. This may be through our manual cert process, or using certman

[2022-07-12 05:02] sync-by-unito[bot] opened #504 "Cursor on timeseries graphs does not move fluidly when on top of the line being plotted"
See video. This is more noticeable for longer time periods because it's harder for the mouse to avoid the plotted line in the timeseries.

1. Go to px/node for any node
2. Switch time to -1h
3. On the CPU graph, move the cursor across the chart, notice it doesn't move when it's on top of the line being plotted.

(See video for full experience)

┆Issue is synchronized with this [Jira Bug](https://p

[2022-07-12 05:02] sync-by-unito[bot] opened #505 "Add Trace Visualization widget for displaying traces"
Users would like to see a visualization of individual traces from their services. For now, these traces will be determined based on a user supplied trace-id header.

In addition, we can align the spans within  the trace visualization using the recent clocksync integration.

Tasks:

\[ ] Implement trace visualization in Vega

\[ ] Implement PxL script for trace visualization

┆Issue is synchronized

[2022-07-12 05:02] sync-by-unito[bot] opened #506 "Planner checks wrong info to determine if an Op needs to run on PEM"
In the distributed planner, inside the stitcher, there is a check for whether an Op has to run on PEM or not. Currently, that check just checks if the op has any metadata type set. This is not correct though since some metadata funcs have to happen on Kelvin (eg. ip_to_pod_id). This leads to a spurious ERROR message being logged, and perhaps in some cases the grpc bridges being incorrect.

┆Issue

[2022-07-12 05:02] sync-by-unito[bot] opened #507 "Intermittent script failure with error: UDF 'ip_to_pod_id' must execute after blocking nodes"
Intermittently getting the following error message when I try to run the attached script:

[code]

Could be an compiler error, or could be UI caching related. Not sure. May want to use CLI to investigate.

Other notes:

* I was not using a local pxl dev environment
* There is a `df = df.head(1000000)` which I tried to add to resolve the issue, but it didn't help. Error intermittently occurs withou

[2022-07-12 05:02] sync-by-unito[bot] opened #508 "When typing an argument into autocomplete, it misses the full value"
Repro instructions

* Go to px/namespace (namespace 'pl')
* Change 'pl' to 'default' quickly (and press enter right away)
* Note that due to the slow processing, only part of the word "default" is captured

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PP-3075) by [Unito](https://www.unito.io)

[2022-07-12 05:02] sync-by-unito[bot] opened #509 "px.service_id_to_external_ips and px.service_id_to_cluster_ip return empty results in PxL"
See example script, we never see any cluster IP or external IP even though we should

import px

1. Use this scratch pad to write and run one-off scripts.
1. If you switch to another script, refresh, or close this browser tab, this script will disappear.

[code]

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PP-3071) by [Unito](https://www.unito.io)

[2022-07-12 05:03] sync-by-unito[bot] opened #510 "Query forwarder fails with large amount of data"
Error: Failed to execute script error=Failed to execute script: rpc error: code = Unknown desc = error in ForwardQueryResult: Query 7490b68d-af25-4850-a981-8967bf906241 can not accept more data, consumer likely died

[code]

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PP-3008) by [Unito](https://www.unito.io)

[2022-07-12 05:03] sync-by-unito[bot] opened #511 "Missing ErrorResponse in pgsql_events records"
A user reported on pixie community slack channel, that ErrorResponse message were not exported into pgsql_events table.

I confirmed the issue with stirling_wrapper.

Need to make sure ErrorResponse is output in the records.

[1] https://pixie-community.slack.com/archives/CQ63KEVFY/p1630870417058300

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PP-2999) by [U

[2022-07-12 05:03] sync-by-unito[bot] opened #512 "Track table truncation due to limit nodes"
We use limit nodes for both implicit and explicit table truncation.

* Explicit truncation is done via `px.head` in the script.
* Implicit truncation is done via the `max_output_rows_per_table` flag.

A user would like to know which tables if any were truncated due to a limit node triggering. Tracking implicit truncation is especially important since we might need to alert the user that some resul

[2022-07-12 05:03] sync-by-unito[bot] opened #513 "Kafka Tracing: Robustness to lost or mis-aligned events"
We need to make kafka tracing more robust to lost or mis-aligned events.

This includes:

* Hardening FindFrameBoundary, especially for responses, which need to have already matched with a request to have context on what the response is.

┆Issue is synchronized with this [Jira Story](https://pixie-labs.atlassian.net/browse/PP-2930) by [Unito](https://www.unito.io)

[2022-07-12 05:04] sync-by-unito[bot] opened #514 "Pixie Cloud Admins should be able to track Vizier operator version and status"
We want to be able to track the operator version and current pod status like we do with Vizier version and pods. Currently, the operator is in a different namespace. Its version and pod statuses are not currently stored in our DB or made accessible via CLI/Admin UI.

This will help improve deployment/update debuggability.

Tasks:

\[ ] Track operator version in DB

\[ ] Track operator pod status i

[2022-07-12 05:05] sync-by-unito[bot] opened #515 "Streaming queries with positive start time will run forever."
This is due to the way memory_source_node.cc handles not finding the start time. Any streaming query with a start time in the future, will run forever outputting Zero row row batches.

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PP-2762) by [Unito](https://www.unito.io)

[2022-07-12 05:05] sync-by-unito[bot] opened #516 "Postgres tracing stops working on long-lived connection."
I deployed `src/stirling/source_connectors/socket_tracer/protocols/pgsql/testing/postgres.yaml` and `src/stirling/source_connectors/socket_tracer/protocols/pgsql/testing/demo.yaml` to a namespace called stirling-testing. After 1-2minutes no traffic is traced from the postgres demo pod to postgres anymore. Deleting the demo pod and restarting it fixes the issue, so it seems like at some point the l

[2022-07-12 05:06] sync-by-unito[bot] opened #517 "[pgsql tracing] Incorrect req & resp matching"
According to [~accountid:5e26aeb0db3c400c9ddecd9e] 's report:

I have the demo app from src/stirling/source_connectors/socket_tracer/protocols/pgsql/testing/ running on my cluster. At first stirling will trace the pgsql traffic from it, but if I leave it running for a little while (~10m), it no longer shows up in the pgsql traffic. Looking at the postgres logs I can confirm that queries are still

[2022-07-12 05:06] sync-by-unito[bot] opened #518 "If a `start_time` is specified with streaming, streaming doesn't work."
Expected behavior: stream all data captured after the `start_time` and into future.
Actual behavior: data is streamed from the `start_time` to the present time, and then streaming ends.

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PP-2563) by [Unito](https://www.unito.io)
┆Attachments: <a href="https://pixie-labs.atlassian.net/rest/api/2/attachment/content/1

[2022-07-12 05:06] sync-by-unito[bot] opened #519 "PxL compiler shouldn't allow future start_time's"
The following code (with start_time == `1s`) returns an empty table. Since we don't allow future start_times, we should error.

import px
df = px.DataFrame(table='http_events', start_time='1s')
px.display()

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PP-2551) by [Unito](https://www.unito.io)

[2022-07-12 06:07] s-starostin commented on #431
Hello, yes, but there were some specific defaults like nodeSelector and tolerations. Removed them now in values, also added small README in the chart dir and elasticsearch chart repo to the Chart.yaml.

[2022-07-12 06:58] dontmint commented on #417
I still meet this issue today when following Self Hosted Pixie Cloud and issue #266
Deployment - **vzmgr-server**
[code]
The same error appears at **profile-server** and **plugin-server**
![Screen Shot 2022-07-12 at 13 57 52](https://user-images.githubusercontent.com/34891994/178428110-08d736f0-065b-41cd-aab2-8d62aed85551.png)

[2022-07-12 06:59] dontmint commented on #266
Hi @htroisi

Thank you for the update on the document, I have followed your instruction and still meet some errors bellow

At **step 7 & 8** in section **1. Deploy Pixie Cloud**

* Job **plugin-db-updater-job** - container **updater**  - still need internet to download from github.
[code]
Fixed: Add env `http_proxy`, `https_proxy`, `no_proxy` to the generated `px_cloud.yaml` and retry from step 4

[2022-07-12 07:57] dontmint commented on #417
I figured this out because the image version of PostgreSQL was set to 13.3 in the current template, other tools like  `plugin-db-updater-job` use the 14-alpine version. I think this was a miss-match version when the migrate script ran. The error is gone when I manually change the PostgreSQL to 14.4 and re-install everything.

[2022-07-12 07:59] dontmint commented on #266
We should change the PostgreSQL image to 14.4 too

[2022-07-12 18:13] philkuz opened #521 "PxL Compiler doesn't know type of a negated boolean when passed to a typed argument"
**Describe the bug**
I wrote a PxL script that passed `not var_name` to a function argument. I received a message saying that the type of `not var_name` was unknown.
<img width="763" alt="image" src="https://user-images.githubusercontent.com/5456019/178564365-1b8259d1-3e1d-478a-a983-dc7cd9b2f37a.png">

**To Reproduce**
Steps to reproduce the behavior:
1. write script ```
import px

def blah(includ

[2022-07-12 18:29] sync-by-unito[bot] opened #522 "Add Vizier CRD debug information to `px collect-logs`"
It will be helpful to include the vizier CRD information in `px collect-logs` , as this can be useful for debugging.

To do so, we will need to make the correct Kubernetes API calls from the CLI to get this data and add it to our current logs.

┆Issue is synchronized with this [Jira Story](https://pixie-labs.atlassian.net/browse/PX-158) by [Unito](https://www.unito.io)

[2022-07-12 18:29] sync-by-unito[bot] opened #523 "[px deploy] Don't print out "Next Steps" if deploy is cancelled."
!image-2022-03-01-15-11-02-070.png|width=200,height=183!

When running `px deploy` , even if a user cancels the deployment, we still go ahead and print out the next steps. We should instead print out a message to confirm the cancel has been completed, or nothing.

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PX-156) by [Unito](https://www.unito.io)
┆Attachmen

[2022-07-12 18:30] sync-by-unito[bot] opened #524 "Failed to get auth credentials: too many open files"
See the GitHub issue for further discussion:
https://github.com/pixie-io/pixie/issues/312

Frequently, when running auth.login, we get the error of "too many open files".  There is a fix which is to use `ulimit` to increase the number of open files. However, given the frequency with which we and our users hit this, we should investigate if we can avoid triggering it in the first place.

┆Issue is

[2022-07-12 18:30] sync-by-unito opened #525 "Add custom formatting for latency quantiles for `px live`"
Our latency quantiles in `px live` are rendered as a JSON. This is difficult for the user to parse and understand.

For example, px/cluster currently outputs the following in the CLI:

!image-20211210-044427.png|width=1264,height=745!

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PX-141) by [Unito](https://www.unito.io)
┆Attachments: <a href="https://pixie-la

[2022-07-12 18:30] sync-by-unito[bot] opened #526 "`px live` ctrl+k scripts aren't sorted"
We would expect the scripts shown in `ctrl + k` to be sorted in some reasonable order, so that scripts are easier for the user to filter through.

!image-2021-10-08-14-04-29-654.png|width=200,height=183!

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PX-132) by [Unito](https://www.unito.io)
┆Attachments: <a href="https://pixie-labs.atlassian.net/rest/api/2/att

[2022-07-12 18:30] sync-by-unito[bot] opened #527 "Unexpectedly, px run falls back to any healthy cluster if the targeted cluster is not healthy."
`px run` will fall back to using "first other known healthy cluster" if the targeted cluster is not healthy. This is not expected, and probably usually not desired (it can silently cause bad data to be used).

┆Issue is synchronized with this [Jira Bug](https://pixie-labs.atlassian.net/browse/PX-112) by [Unito](https://www.unito.io)

[2022-07-12 18:30] sync-by-unito[bot] opened #528 "kubeconfig arg. is not flowed through to other command invocations"
Use of the the --kubeconfig arg. does not correctly flow through to e.g. kubectl invocations. To see how this can cause an error do the following:

1. delete your own dev. cluster (or otherwise setup your normal /home/user/.kube/config file to be stale
2. create a cluster with a custom kube config file somewhere specific (non-default location)
3. try `px deploy --kubeconfig /path/to/your/kube/conf

[2022-07-12 18:30] sync-by-unito[bot] opened #529 "Passing a custom bundle to px CLI via -b doesn't work"
This bug gets silenced because when we pass in a custom bundle, we still read from the normal bundle. However, if you delete the normal bundle from createBundleReader you will see that the custom bundle is not actually being read. When I did a printf of the bundle CLI arg in `run.go`, I saw that the bundle flag was not even being picked up at all.

example command (don't work):
bazel run //src/pix

[2022-07-12 18:31] philkuz commented on #521
A temporary fix for anyone who experiences this is to remove the `bool` type annotation.

[2022-07-12 20:24] htroisi commented on #266
Hi @dontmint - thank you for testing out the air gap install instructions and reporting back!

The `plugin-db-updater-job` is used for Pixie's [Plugin System](https://docs.px.dev/reference/plugins/plugin-system/), which is less useful for air gap systems. We'll fix the job soon, but in the meantime I've updated the instructions to include a step to either (1) remove the `plugin-db-updater-job` fro

[2022-07-12 23:58] aimichelle commented on #452
Closing this as a duplicate of https://github.com/pixie-io/pixie/issues/452.

[2022-07-12 23:58] #452 closed

[2022-07-13 02:33] tuninger opened #530 "Update ImagePullPolicy to "IfNotPresent" for all deployments/statefulsets"
It is strongly recommended to change the default value of ImagePullPolicy to "IfNotPresent" in all deployments, statefulset.

[2022-07-13 03:39] tuninger commented on #266
How to change the image pulling policy of px-operator from Always to IfNotPresent?

NAME                         READY   STATUS             RESTARTS   AGE
pixie-operator-index-j4j4w   0/1     ImagePullBackOff   0          14m
pixie-operator-index-q5xm4   0/1     ImagePullBackOff   0          14m

cat 04_catalog.yaml
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: pi

[2022-07-13 04:57] #529 closed

[2022-07-13 09:26] dontmint commented on #266
Hi @htroisi

I have successfully installed Pixie in our private cluster and It works great. I have 2 features that I would like to request because of the specialty of air gap environment.

1. Able to change the Pixie Cloud domain from `dev.withpixie.dev` + `work.dev.withpixie.dev` to custom domains like `pixie.my-organization.com` + `work.pixie.my-organization.com`. Currently, I have to add these

[2022-07-13 16:29] zasgar opened #531 "Migrate from STAN to Jetstream"
**Describe the Task**
Stan is deprecated. We should migrate the pixie control plane to be on Jetstream instead of Stan.

**Subtasks**
- [x] Enable JetStream in NATS
- [x] Validate JetStream feature parity with STAN
- [x] Switch consumers to JetStream
- [x] Remove STAN

[2022-07-13 16:34] zasgar opened #532 "Move Pixie CLI to use pxapi.go"

[2022-07-14 09:11] nilushancosta opened #534 "Pixie is missing data about many pods and services in the cluster"
**Describe the bug**

I encountered an issue in a self-hosted installation where Pixie is missing information about the cluster

E.g. When I checked the pods in a namespace using the `px/namespace` script from the UI and CLI, only 8 pods were shown. But when I checked from `kubectl` , I saw 90+ pods.
Similarly, Pixie showed 6 services whereas `kubectl` showed 40+ services.

Also, at times, when I

[2022-07-14 12:48] nilushancosta commented on #534
As per the discussion in the Pixie Slack channel, deleted the existing `vizier-metadata` pod and let the newly created one sync with the K8s API.
However pods are still missing in Pixie.

Even in the new pod, `Failed to get update version for topic" error="<nil>"` error is still there. But there are no restarts even after 130m

[2022-07-15 11:54] nilushancosta opened #536 "NATS Streaming server unable to start due to unexpected EOF"
**Describe the bug**
We have a self-hosted Pixie deployment. This was working fine. When I opened the Pixie UI today, the home page kept showing the loading icon continuously and never loaded the data.

Upon checking the deployment, I found that the following pods had gone into a `CrashLoopBackOff`
![Screenshot 2022-07-15 at 16 46 21](https://user-images.githubusercontent.com/19643850/179213029-21

[2022-07-15 12:07] nilushancosta commented on #536
I looked into this and came across https://docs.nats.io/legacy/stan/changes/configuring/persistence/file_store#recovery-errors.

It had the following
[code]
According to this, data loss may occur due to this flag. Therefore would it make sense to add this flag?

[2022-07-15 21:02] #522 closed

[2022-07-16 00:38] maxlemieux commented on #387
Also seeing this error in a Bottlerocket environment.

The dump happens after this line:
[code]

Complete logs from an affected `vizier-pem` pod:
[code]

[2022-07-19 16:30] philkuz opened #537 "UI should not try to get an export status on Disabled scripts"
**Is your feature request related to a problem? Please describe.**
On https://work.dev.withpixie.dev/configure-data-export/
Users reading the export script view will find that the status icon to be in an unknown state - signaling a system error. In reality, we're just not querying the state of the plugin script because it is disabled.
<img width="644" alt="image" src="https://user-images.githubuse

[2022-07-19 16:44] aimichelle commented on #487
Hello! We believe this issue occurred because of the Vizier CRD being outdated. The operator was depending on a field in the latest CRD, which led to infinite "Updating" loops.
This bug should now be fixed by https://github.com/pixie-io/pixie/commit/44d3ece07de3135dde97c70e38ac4c770b32906b.

Please reopen if you still see this issue.

[2022-07-19 19:31] aimichelle commented on #534
Hi @nilushancosta ! Let's gather more information to help us debug this issue.
The logs you included (`Failed to get update version for topic`) are expected when the vizier-metadata pod starts up. Do you continue seeing them occur even after the pod has been running for a while? It could be helpful to send over all of your logs, if you are comfortable with it. You can easily collect all Pixie logs

[2022-07-20 06:37] mars1024 opened #538 "[Deploy] support image override in `px deploy`、px-operator and charts"
**Is your feature request related to a problem? Please describe.**

Now, pixie is providing different ways to deploy pixie cloud and vizier, all is going well expect the image download.
Unfortunately, `px deploy` and charts do not provider an image override option, also the statefulset、daemonset and deployment provisioned by px-operator can not be configured either.
In our self-hosted k8s cluster,

[2022-07-20 06:38] mars1024 commented on #538
/label area/deployment
/label feature

[2022-07-20 18:15] htroisi commented on #266
@dontmint - These are great suggestions! Would you mind filing 2 new issues, one for each request? I don't want these ideas to get lost in this long thread.

[2022-07-20 19:06] aimichelle commented on #538
Hi @mars1024 ! Thanks for filing this--this is something we're starting to hear frequently. I'm going to close this as a duplicate of https://github.com/pixie-io/pixie/issues/473 so that there's just one thread we can send out our updates.

[2022-07-20 19:06] #538 closed

[2022-07-21 00:19] etep opened #539 "Commands with `;` in them are rendered (wrongly) into multiple stack frames in the Pixie flamegraphs."
**Description**
A command that has any `;` characters in it is rendered into multiple stack frames instead of just one. After this happens, the colorization is also wrong. Most commands do not have this character in them, so we normally do not see this bug. However, we can easily construct an example by injecting the following (e.g.) into a yaml and deploying to k8s:
[code]

**Steps to reproduce**

[2022-07-21 18:36] aimichelle opened #540 "Add Pixie resource attributes to OTLP export data for debuggability"
**Is your feature request related to a problem? Please describe.**
OTel allows users to add attributes to resources to provide more context about the environment from which the data has been collected. In the current state, the only information that indicates the data has been collected from Pixie is the `instrumentation.provider`. However, it will be useful to include other information about the

[2022-07-21 21:49] NickLanam commented on #485
Done in [this commit](https://github.com/pixie-io/pixie/commit/c2ae6d8041ef41e72244af9ed21aa6925a3b9581).

Here's what changed:

- Two new env vars, in `script_bundles_config.yaml` for each environment in `k8s/cloud/*`:
  - `SCRIPT_BUNDLE_URLS`: A JSON-stringified array of URL strings. Defaults to the OSS bundle.
    Pixie's UI tries to load a JSON document from each URL in this array. User can ov

[2022-07-21 22:16] aimichelle commented on #486
Completed as a part of https://github.com/pixie-io/pixie/commit/6a7e873a57ac85bfbf79e4afc0d44691e52d68c1 and https://github.com/pixie-io/pixie/commit/9ef2e4793568fd77891ec25867b3adcd9fb09d4c.

[2022-07-21 22:16] #486 closed

[2022-07-21 23:08] NickLanam opened #541 "Analytics initialize incorrectly when enabled"
**Describe the bug**
If Pixie analytics are enabled, the UI identifies tracked events by the user who generates them.
This identification does not trigger in embedded environments right now. The code that does so lives in a component that doesn't load in embedded environments.

**To Reproduce**
1. Log into Pixie in an environment where analytics are enabled and configured, as a user who has not op

[2022-07-21 23:39] #541 closed

[2022-07-22 12:14] nilushancosta commented on #536
Since Pixie uses a config map for NATS Streaming, I referred https://docs.nats.io/legacy/stan/changes/configuring/cfgfile#file-options-configuration to add the config. However the `-file_truncate_bad_eof` option is not available in the above documentation link.
So I tried the following methods to add it
[code]
[code]

[code]

But neither of these worked

[2022-07-25 16:10] dafu-wu opened #543 "replace the mirror px-operator job image"
when i execute the command ：px deploy --dev_cloud_namespace plc
      ...
      px-operator      d1ac3a93a16150c9cbd3d287f228e73fa3f72c7d674193868e18363740pgmks   0/1     Init:ImagePullBackOff   0
      ...
      ...
      image: gcr.io/pixie-oss/pixie-prod/operator/bundle:0.0.30
      imagePullPolicy: Always
      ...
      I can't pull down the mirror for some reason, I want to replace the mirro

[2022-07-25 22:09] etep opened #544 "Investigate addresses from /proc/<pid>/maps::[uprobes] in stack traces."
**Describe the Task**
We noticed addresses from `[uprobes]`, a memory region shown in `/proc/<pid>/maps` in some stack traces. We have determined that the go uprobe for `casgstatus` is responsible for this stack trace, but we do not know why we see this address in stack traces, nor do we know if there is some additional perf impact for this probe.

<img width="506" alt="Screen Shot 2022-07-25 at 3

[2022-07-28 08:05] dafu-wu commented on #543
use ./ci/operator_helm_build_release.sh script to solve the problem.

[2022-07-28 08:05] #543 closed

[2022-07-28 08:38] nilushancosta commented on #445
@zasgar unfortunately I won't be able to commit to this at this time. I will try to contribute if possible

[2022-07-28 22:30] shane-emery commented on #538
Hello,
My organization is in the same boat and we need the ability to specify a custom internal docker repo.  We have no issue with retagging the images to our internal, but need the flag some way some how.

[2022-07-29 00:13] #540 closed

[2022-07-29 08:57] zhyon404 commented on #418
This is really cool project! Can I help with this?

[2022-07-29 08:59] zhyon404 commented on #418
/assign

[2022-07-30 08:29] MrSupiri opened #545 "gRPC support for C based gRPC libraries"
**Is your feature request related to a problem? Please describe.**
As of now Pixie only supports go-gRPC tracing. Since the gRPC protocol itself is supported by [many](https://grpc.io/docs/languages/) widely used languages such as Python and Node, there is big gap in pixie's observability capabilities when it comes to no go languages.

**Describe the solution you'd like**
As mentioned on [Pixie's

[2022-07-30 08:30] MrSupiri opened #546 "gRPC support for C based gRPC libraries"
**Is your feature request related to a problem? Please describe.**
As of now Pixie only supports go-gRPC tracing. Since the gRPC protocol itself is supported by [many](https://grpc.io/docs/languages/) widely used languages such as Python and Node, there is big gap in pixie's observability capabilities when it comes to no go languages.

**Describe the solution you'd like**
As mentioned on [Pixie's

[2022-08-01 17:47] yzhao1012 commented on #546
@orishuss from Groundcover is working on a c-gRPC library tracing. Ori feel free to provide updates to @MrSupiri yourself.

[2022-08-01 17:50] htroisi commented on #545
Duplicate of #546.

[2022-08-01 17:50] #545 closed

[2022-08-01 20:09] Lawouach opened #548 "Python package pins the `pip` utility"
**Describe the bug**

Currently, the Python api package pins the `pip` utility in its requirements:

https://github.com/pixie-io/pixie/blob/a20c2ec5d46ff715f99ecb25613618386e923b25/src/api/python/requirements.txt#L7

This is not really convenient as `pip` is often updated and kept to its latest version. Distributing anything relying pixie will create some friction.

**Expected behavior**

Maybe yo

[2022-08-01 20:12] Lawouach commented on #548
Looking at the code, `pip` seems to only be used to package the distribution, not in the actual code. Can we remove that dependency altogether?

[2022-08-01 20:28] htroisi commented on #548
@Lawouach I don't think we need to pin pip. This was probably added accidentally when we froze the requirements.

Would you be willing to submit a PR? Feel free to review the other requirements too. Thanks!

[2022-08-01 20:36] htroisi commented on #546
@MrSupiri you can follow this PR for updates on gRPC-C support: https://github.com/pixie-io/pixie/pull/547

[2022-08-02 04:50] MrSupiri commented on #546
Thanks for the update!, I will keep and eye on it. Also sorry I have no idea why github created the same issue twice, it might have bugged out when I pressed submit.

[2022-08-02 18:17] NickLanam opened #550 "Embedded mode prioritizes setting theme by URL over `postMessage`"
**Describe the bug**
When embedding Pixie in an `iframe`, there are a few ways to set its theme:
* Including `theme=light` or `theme=dark` in the embed URL to force a builtin light/dark mode
* Including  `customTheme=...` with a customized subset of the Material theme in the embed URL
* Using `postMessage({ pixieTheme: 'lightOrDark' })` to change the theme after loading
* Using `postMessage({ pixi

[2022-08-02 20:33] #548 closed

[2022-08-02 20:35] #550 closed

[2022-08-03 09:20] orishuss commented on #546
Hey @MrSupiri, @avivzgroundcover and I have been working on it.
This feature contains 3 large PRs into pixie, the last one is now under review. 6 new uprobes are required in order to trace this library.

Once the 3rd PR is merged, the feature will not be instantly usable due to:
1. Only 4 versions are supported at first: 1.19.0, 1.24.1, 1.33.2, 1.41.1. Versions in-between, or close to these versio

[2022-08-03 14:14] nilushancosta commented on #534
I deleted the PV along with the vizier-metadata pod and created a new PV. However this did not resolve the issue

[2022-08-04 09:57] Lawouach opened #551 "Python API fails to encode row when data is a UUID"
**Describe the bug**

The default json encoder of the Python stdlib doesn't know how to serialize UUID objects. It therefore fails with:

[code]

**To Reproduce**

Run this script with the Python client:

[code]

iterating over the rows and printing the rows will lead to the error.

**Expected behavior**

Pixie should provide a more capable json encoder to handle these base types.

[2022-08-04 10:25] Lawouach opened #552 "Pixie Python client fails to execute script given by the dashboard"
**Describe the bug**

I get the following error when executing a Pixie script provided by the Pixie dashboard:

[code]

**To Reproduce**

I am running the following script:

[code]

I took it verbatim from the Pixie dashboard, only adding the last two lines so I could run it as a script from the Python client.

**Expected behavior**

Scripts taken from the dashboard should run as-is with the Pytho

[2022-08-04 17:48] chengruizhe commented on #456
This issue has been fix in 4ddc45d. The fix was to correctly account for the spaces in the command name field in `proc/pid/stat`, such as `npm start`.

[2022-08-04 18:29] philkuz opened #553 ""Received unknown IRNode type" when running a script in the compiler"
**Describe the bug**
Something about the compiler rejects the following script with the message "Received unknown IRNode type"

**To Reproduce**
Steps to reproduce the behavior:
Execute the script in Pixie:
[code]
**Expected behavior**
Expected this to work, but for some reason this fails. What's especially weird is that removing a px.display() actually avoids this issue.

[2022-08-04 23:34] #456 closed

[2022-08-05 00:05] #551 closed

[2022-08-05 05:11] #553 closed

[2022-08-05 05:24] MrSupiri commented on #546
Hey,
Thanks for the update, looking forward to testing this out. BTW is there is a particular reason for choosing those specific version numbers? since 1.19.0 is version released 3 years ago and 1.41.1 was also released almost an year ago.

[2022-08-05 09:05] orishuss commented on #546
When developing eBPF observability solutions, we take a look many versions backwards, to see our solution works for a lot of versions, to make sure its stable enough. This is why we chose 4 versions which are relatively far apart.

This feature's development took ~3 weeks, at February-March this year, and it simply isn't fully integrated into Pixie yet. Back then we chose 1.41.1 as one of the newe

[2022-08-05 12:32] MrSupiri commented on #546
Ah yeah that makes sense and thank you for the well detailed explanation. I saw pixie team was also using version based method for nodejs TLS library since they changed a namespace of it which mess up the entire probe. Again thank for all the work you folks are putting out, excited to get our hands on this :)

[2022-08-05 13:17] nilushancosta commented on #534
I upgraded the Pixie deployment to the latest version. However the issue still exists.

Please find some more findings regarding the nature of this problem.
1. When pods were missing in Pixie, I checked the node where those pods were scheduled. What I noticed was that it's not all pods in a given node that are missing. Some pods of a node were shown in Pixie while others weren't.
2. When I restart

[2022-08-05 17:14] #527 closed

[2022-08-05 18:29] #537 closed

[2022-08-05 19:12] htroisi opened #559 "Add pixie-operator pod logs to `px collect-logs` CLI output."
Pixie's CLI allows you to gather Pixie logs using the `px collect-logs` command. The output logs should also include the pixie-operator pod logs, if applicable.

[2022-08-05 20:26] MrSupiri commented on #534
I am also facing the same issue. Could it be due to the memory limiter? I have pixie deployed on a GKE cluster by running `px deploy --pem_memory_limit=1Gi`.

When I ran `kubectl get pods -A | grep Running | wc -l` it says I have 68 running pods, but Pixie only shows 65 pods. Adding to that, my default namespace has about 6 services including the Kubernetes ClusterIP but only one get printed out w

[2022-08-08 06:53] Lawouach opened #563 "Release a new reversion of the Python client"
**Is your feature request related to a problem? Please describe.**

Following #548, would it be possible to release the Python package again please?
I'm tryiong to release my [Chaos Toolkit extension](https://github.com/chaostoolkit-incubator/chaostoolkit-pixie) for it, and it fails with Python 3.10 because of the dependencies.

I can't directly pip install this repository either because the code

[2022-08-08 16:07] philkuz commented on #563
Hey @Lawouach I just released 0.6.0: https://pypi.org/project/pxapi/. Let me know if you have any issues. I tried out the chaos toolkit and it seemed to work for me on Python 3.10.4 w/ pxapi==0.6.0

By the way, thanks for your feedback on the Pixie Python API. Glad to see that Pixie can be useful for you!

[2022-08-08 16:07] #563 closed

[2022-08-08 18:05] Lawouach commented on #563
Thanks!

Happy to. I was integrating Pixie with the [Chaos Toolkit](https://chaostoolkit.org/drivers/pixie/).

[2022-08-10 00:11] Ddddeee opened #564 "Duplicate of #546."
Duplicate of #546.

_Originally posted by @htroisi in https://github.com/pixie-io/pixie/issues/545#issuecomment-1201521772_

[2022-08-10 01:30] #448 closed

[2022-08-10 10:52] 1006er commented on #238
Hi, I'm having the same problem. and I wonder if you have found a solution now.

[2022-08-10 12:22] TBBle commented on #238
Since this is a closed issue, I suggest you probably should open a new issue for documenting/supporting the use-case of non-minikube setups without functional LoadBalancer support. It won't get the attention it needs here.

[2022-08-10 15:58] nilushancosta commented on #534
I was debugging one of the issues ("No data available error" explained in the issue description) and noticed the following.

1. I selected a "Running" pod from the cluster for which Pixie was showing data in the `px/pod` script. I also monitored the logs of the vizier-pem pod of the node where the above pod was scheduled. When I clicked the `Run` button and executed the Pixie script from the UI, v

[2022-08-11 08:29] 1006er opened #565 "pixie cloud install in k8s but not minikube"
**Describe the bug**
I tried to install pixie in self-host mode on the real k8s not minikube. When installing pixie cloud, I followed the documentation to set DNS. After running dev_dns_updater.go, the browser still cannot resolve the domain name and cannot be accessed through dev.withpixie.dev. And I would like to know if the installation method of pixie cloud shown in the documentation is only v

[2022-08-11 13:14] ananda-chintalapati commented on #361
The issue is in closed state. However, I am getting into same error. Any resolution for this?

[2022-08-11 16:42] #526 closed

[2022-08-14 16:35] victor-timofei commented on #559
Hi, I saw this marked as a good first issue. Could I try picking it up?

[2022-08-15 19:01] #564 closed

[2022-08-15 22:19] philkuz commented on #565
I use dev_dns_updator on GKE and k0s before and it worked fine. Are you sure you're running dev_dns_updater in the right place?

The TLDR of dev_dns_updater is that it adds an entry into `/etc/hosts` which is read during DNS resolution. Are you possibly running dev_dns_updater in a VM and the browser outside the VM?

[2022-08-16 03:55] tharinduwijewardane opened #566 "Support plugin service API calls from Go client"
**Is your feature request related to a problem? Please describe.**
Cannot create/update retention scripts programmatically

**Describe the solution you'd like**
Add the support to call plugin service API from [Go SDK](https://github.com/pixie-io/pixie/tree/main/src/api/go/pxapi)

**Describe alternatives you've considered**

**Additional context**

[2022-08-16 03:57] tharinduwijewardane commented on #566
This can be achieved by adding `cloudpb.PluginServiceClient` to the [VizierClient](https://github.com/pixie-io/pixie/blob/main/src/api/go/pxapi/vizier.go)

@aimichelle @zasgar Is this acceptable ?

[2022-08-16 18:01] aimichelle commented on #534
Hi @nilushancosta ! Thanks sending that debug information over.
To confirm, for the pods in "Running" state in your cluster, but for which the Pixie UI had "No data available", did they show up in the Kelvin debug data? If so, do they show up in their corresponding PEM debug data?

I'll reach out directly to schedule a Zoom call so we can debug some more.

[2022-08-16 21:46] PSalant726 opened #567 "`px deploy` continuously times out waiting for Cloud Connector"
**Describe the bug**
When attempting to deploy Pixie to a new cluster created using `minikube`, the `px deploy` command times out at the step labeled "Waiting for Cloud Connector to come online".

**To Reproduce**
Steps to reproduce the behavior:
1. `minikube start --driver=qemu2 --cni=flannel --cpus=4 --memory=8000 -p=test`

[code]

    - Note the `qemu2` driver. The `hyperkit` driver is not avai

[2022-08-16 21:53] aimichelle commented on #566
Hi @tharinduwijewardane ! Thanks for the suggestion!
Registering plugin scripts is an operation done through the cloud, so it would actually make most sense to add it to the [cloud client operations](https://github.com/pixie-io/pixie/blob/2471b1e869949876acc15df0a18a106e116c3908/src/api/go/pxapi/cloud.go) instead, and initialize the client [here](https://github.com/pixie-io/pixie/blob/2471b1e86994

[2022-08-16 22:32] htroisi commented on #559
@victor-timofei - Yes, we'd be happy have you contribute this fix!

I have a suspicion that this has to do with the fact that the `pixie-operator` pod does not have an `app` label, like the rest of the Pixie pods:
<img width="2220" alt="image" src="https://user-images.githubusercontent.com/66266496/184994160-3ef65809-70d4-4065-84d4-e1b2680f9ad5.png">

To test out your changes to the Pixie CLI:
[co

[2022-08-16 22:41] zasgar commented on #567
Related to: https://github.com/kubernetes/minikube/issues/11725
And #147

[2022-08-17 00:49] #523 closed

[2022-08-17 01:32] 1006er commented on #565
Hi, thanks for your reply.
I run the dev_dns_updater in the vm, but it doesn't seem to change the vm's /etc/hosts file, and the dev.withpixie.dev cannot be accessed through the browser in the vm.

I tried to manually add the /ect/hosts file on the master node and bind the external IP of cloud-proxy-service and vzconn-service to the domain name.
[code]
Through this, I can access pixie cloud through

[2022-08-17 13:45] nilushancosta commented on #534
Hi @aimichelle !
I restarted the vizier-pem pods today and because of that all the pods in the cluster are now shown in Pixie (But with an unknown Phase). So I don't see the "No data available" error at the moment. Let me check for sometime and get back to you.

[2022-08-17 23:26] philkuz commented on #565
Ah I think I have an idea what's going wrong, currently running through the verification process right now. You're talking about this YAML deployment option: https://docs.px.dev/installing-pixie/install-schemes/yaml/#4.-extract-manifests right?

That process is for a cloud that has a properly setup DNS configuration, community cloud being one such example. You'll probably need to add the `--dev_cl

[2022-08-17 23:42] philkuz opened #570 "Imprecise Vizier Failure Status when user deploys Self-Hosted cloud with dev.withpixie.dev"
**Describe the bug**
Users who deploy self-hosted cloud and then use the YAML deploy receive an imprecise message from the px.dev/viziers status:
`NATS message bus pods are missing. If this status persists, clobber and redeploy this Pixie instance.`

While this is true, it's not helpful to a user experiencing this issue. Instead we should detect this state and suggest a remedy for the user. One id

[2022-08-17 23:44] philkuz commented on #565
Update: was able to repro your problem. The fix is to specify dev_cloud_namespace:
[code]

[2022-08-17 23:44] #565 closed

[2022-08-18 00:06] philkuz opened #571 "Adding dev_cloud_namespace to px.dev/viziers doesn't change the cloud address Vizier operator talks to"
**Describe the bug**
Users who forget to add `dev_cloud_namespace` to `px deploy --extract_yaml` when using self-hosted cloud cannot fix the problem by simply regenerating the yamls using `--dev_cloud_namespace` and applying it. The operator continues to try and reach the original cloud address specified.

Here's the diff of `06_vizier.yaml`
[code]

The operator continues to ping the old cloudaddr

[2022-08-18 00:06] philkuz commented on #565
Note you'll have to do the workaround in #571 when you are re-deploying

[2022-08-18 08:27] dontmint opened #572 "Self-Hosted - Pixie UI Crash when update to newest image tag"
**Describe the bug**

I have followed [this guide](https://github.com/pixie-io/pixie/issues/266) to install Pixie Sefl-Hosted in an air gap environment, the first try was a success.
But when I reinstall again or restart our components, docker tries to fetch the newest image since tags are `latest` and the UI crash when I logged in the first time.

I believe the working version is **1657049209** fo

[2022-08-18 10:04] dontmint commented on #266
I retried to install Pixie with our custom domain name and figured out how to make it work, a lot of stuff needs to be modified. I will update those steps for your document later.

[2022-08-18 16:08] victor-timofei commented on #559
Yeah, you are right. It is because the `app` label is missing.

I've noticed the `pixie-operator-index` pod is deployed by the OLM.
I did a fast check on the `CatalogSource` CRD to find what options it supports, and I could not find any way to add labels.

1. I could follow up with the OLM folks and see if there is any way to add labels to an operator(or if it would be possible to extend the CRD?)

[2022-08-18 18:39] htroisi commented on #559
You could create a `OperatorLabelSelector()` function similar to the existing `VizierLabelSelector()` that selects for the `olm.catalogSource=pixie-operator-index` label.

[2022-08-18 20:11] philkuz commented on #572
Did you try a hard refresh of your UI (CTRL/CMD + shift + R)? Sometimes cache keeps around an old version.

[2022-08-18 20:16] philkuz commented on #532
When you switch this over, will it fix: https://github.com/pixie-io/pixie/issues/524 ?

[2022-08-18 20:16] philkuz commented on #524
@JamesMBartlett was able to track number of open files with the following bpftrace probe:
[code]

[2022-08-18 20:21] philkuz commented on #502
- [ ] Operator should detect when NATS is in a bad state
- [ ] Operator should restart NATS when it is in a bad state
- [ ] Operator should detect when etcd is in a bad state
- [ ] Operator should restart etcd when it is in a bad state
- [ ] Operator should detect when PV fails to mount and fallback to etcd

[2022-08-18 20:38] zasgar commented on #532
Yes, I believe it fixes #524.

[2022-08-18 21:33] htroisi commented on #485
@NickLanam I ran into the new UI error when following the self-hosted [install guide](https://docs.px.dev/installing-pixie/install-guides/self-hosted-pixie/) using a minikube test cluster.
<img width="667" alt="Screen Shot 2022-08-18 at 1 51 58 PM" src="https://user-images.githubusercontent.com/66266496/185492573-306fa6c0-c373-45c1-a352-6ad7b1625788.png">

I was using the default yamls (I didn't c

[2022-08-19 02:34] dontmint commented on #572
Hi @philkuz
Yes, I did that many times for each browser I tested, clear all caches and cookies in Developer Mode. Removed and reinstalled Pixie still came up with the same result.

[2022-08-19 18:24] JamesMBartlett opened #573 "Support streaming with specified or unspecified `end_time`"
Currently, a streaming query (i.e. with a `df.stream()` call) will not respect the `end_time` parameter of the `DataFrame` constructor. Regardless of whether the `end_time` parameter is specified or not, the stream will only return results that are available at the beginning of execution.

The following behaviour will be supported:
1. If `end_time` is specified, stream until a record with `timesta

[2022-08-19 18:26] JamesMBartlett commented on #518
Going to handle this in #573

[2022-08-19 18:26] #518 closed

[2022-08-20 01:10] benkilimnik commented on #453
Progress:

- [x] Support redaction of Social Security Numbers and International Bank Account Numbers (IBAN) in [redact_pii_best_effort](https://docs.px.dev/reference/pxl/udf/redact_pii_best_effort/)

- [x] Add [Privy](https://github.com/pixie-io/pixie/tree/main/src/datagen/pii/privy), a command line tool for generating synthetic protocol traces similar to those that Pixie collects from pods in a K

[2022-08-22 06:41] dontmint commented on #266
Hi @htroisi,

I will inject my modification in your comment below in order to use the custom domain for Pixie Cloud

[code]

[code]

This is how I setup Pixie with my custom domain name, I hope this help. All you need to do is config your DNS or /etc/hosts file to access Pixie Cloud.

[2022-08-22 11:16] oslet opened #575 "px deploy error when depoying vizier"
**Describe the bug**
px deploy  not finished
err: Deploying Vizier  ERR: Vizier.px.dev "pixie" is invalid

**To Reproduce**
Steps to reproduce the behavior:

./px version
Pixie CLI
Update to version "0.7.17" available. Run "px update cli" to update.
0.7.15+Distribution.adb23c5.20220630065906.1.jenkins
❯ px deploy --pem_memory_limit=5Gi
Pixie CLI
Update to version "0.7.17" available. Run "px update

[2022-08-22 18:39] aimichelle commented on #575
Hi @oslet ! Sorry to hear the deployment isn't working as expected.
Would you mind sharing the output of `kubectl describe crd vizier` and `kubectl describe vizier pixie -n pl `? Make sure to blank out the deploy key in the spec for the latter command.

[2022-08-22 23:05] aimichelle opened #576 "Auto-update plugins upon control plane updates"
**Is your feature request related to a problem? Please describe.**
Plugins in the plugin system are versioned. If any changes are made to the plugin, such as new or modified scripts, this is considered a new plugin version.
In the current state, any enabled plugins are pinned at the version at which they were enabled. Updating to a new version requires the user to manually click the "update" butto

[2022-08-22 23:16] aimichelle opened #577 "Allow plugin configuration from Vizier definition/flags"
**Is your feature request related to a problem? Please describe.**
Enabling a plugin currently requires a user to enable the plugin through the UI or make a gRPC request through the API. In some cases, users may want to enable the plugin for a Vizier at deploy-time (for example, using a k8s manifest).

**Describe the solution you'd like**
Add plugin configuration to a Vizier's configuration (for e

[2022-08-23 01:59] oslet commented on #575
* kubectl describe crd vizier
[code]

* kubectl describe vizier pixie -n pl
[code]

[2022-08-23 21:15] #573 closed

[2022-08-24 20:18] yzhao1012 opened #578 "Support tracing Istio managed services"
**Is your feature request related to a problem? Please describe.**
Today, Pixie’s service map uses remote IP address to derive the Pod name for RPC messages between micro-services. In the case of Istio managed cluster, envoy proxy terminates TCP connections, and RPC messages would use envoy’s address as remote IP. That breaks the logical connection between the client & server, which are mediated b

[2022-08-24 23:07] PSalant726 opened #579 "Python API immediately raises an exception on import"
**Describe the bug**

Importing the `pxapi` Python package into a project immediately raises a `ModuleNotFoundError`.

**To Reproduce**

Steps to reproduce the behavior:
1. Optionally create a new Python virtual environment
2. Install `pxapi` with `pip install pxapi==0.6.0`
3. Start a new Python REPL
4. Attempt to import `pxapi`
5. Observe the raised `ModuleNotFoundError` exception

**Expected beh

[2022-08-25 02:34] oslet commented on #575
installation was successful, following this document
https://docs.px.dev/installing-pixie/install-guides/airgap-pixie/

[2022-08-25 17:44] victor-timofei commented on #528
Is anyone working on this? If not, I could pick it up.

[2022-08-25 19:59] htroisi opened #580 "Provide node labels with metadata"
**Is your feature request related to a problem? Please describe.**
It would be useful to be able to aggregate telemetry data by node label. For example, node label metadata could be used to identify interzonal traffic, as requested in [this issue](https://github.com/pixie-io/pixie/issues/389).

**Describe the solution you'd like**
Provide node labels (as a string) along with [the existing metadata

[2022-08-25 20:08] philkuz commented on #579
Thanks for letting us know.

I wasn't able to reproduce following your instructions, here's what I did.
[code]

Did you use a different `pip install` command or change something in the environment?

[2022-08-25 20:11] htroisi commented on #528
@victor-timofei - We would be happy to accept another contribution from you! 😀

@zasgar is in the process of completely rewriting the CLI so he may already have this bug fixed. However, would you be interested in contributing a new feature to Pixie? I just filed a feature request to add Node labels to Pixie's metadata (https://github.com/pixie-io/pixie/issues/580). Another contributor recently add

[2022-08-25 20:23] victor-timofei commented on #528
@htroisi yeah sure, I'll start working on the #580. 😄

[2022-08-25 21:02] htroisi commented on #528
@victor-timofei - Awesome! You can find the directions for setting up the developer environment [here](https://github.com/pixie-io/pixie/blob/main/DEVELOPMENT.md). There's also some recent discussion about the dev environment in the #pixienaut channel in our community slack.

[2022-08-25 21:31] victor-timofei commented on #528
I did already set up a dev environment, if I encounter any issues with the environment(particularly with running the tests) I'll try searching the `#pixienaut` history or ask a question.

Thanks 😀

[2022-08-25 21:57] PSalant726 commented on #579
Apologies - I left out one very important detail. The issue only arises in projects importing `pxapi` that also have their own `src/` directory housing their code (likely most projects, and all of mine). Because the pxapi imports from outside the `/python` directory are stored in their own relative `src/` directory, the interpreter is unable to resolve the correct path.

[2022-08-26 00:29] #571 closed

[2022-08-26 04:53] tharinduwijewardane commented on #566
I will send a PR soon

[2022-08-26 20:27] htroisi commented on #559
@victor-timofei thank you for contributing this! 🙏

[2022-08-26 20:27] #559 closed

[2022-08-26 21:00] aimichelle opened #581 "Add "copy" button to data tables"
**Is your feature request related to a problem? Please describe.**
When sharing data to users (especially debug information, such as _DebugMDState), it's useful to copy and paste the data directly from the data tables in the UI. In some cases where the output is especially long, this process can be particularly annoying.

**Describe the solution you'd like**
It would be nice to have a button in th

[2022-08-26 22:45] philkuz opened #582 "Simplify the UX for writing OpenTelemetry export scripts"
**Is your feature request related to a problem? Please describe.**
Users have complained that the UX for writing OpenTelemetry export scripts is painful. The configuration is very verbose an highly repetitive which makes it annoying to write these scripts:
[code]

**Describe the solution you'd like**
Users with a script that returns DataFrame(s) (aka they must call `px.display(df)`) should be able

[2022-08-29 16:41] #552 closed

[2022-08-29 18:03] philkuz commented on #552
We released 0.7.0 with this fix. Thanks for raising this!

[2022-08-30 18:33] Sindvero opened #584 "Ingest OpenTelemetry data from apps directly inside pixie"
**Is your feature request related to a problem? Please describe.**
Hi, as discussed in the slack channel (https://pixie-community.slack.com/archives/CQ63KEVFY/p1660579105646339), this issue is to follow interest on ingesting Otel data from the apps running in the cluster directly inside pixie

**Describe the solution you'd like**
Right now, pixie support exporting Otel data to ingest in a third pa

[2022-09-02 17:59] JamesMBartlett commented on #471
HI @nr-pmoses,
We have an implementation of this feature but the performance overhead was too significant. We are currently reevaluating our options to implement this without significant overhead. I think realistically, we're probably looking at 1-2 months before this feature lands.

[2022-09-06 19:50] ddelnano opened #586 "Prevent the need for netty runtime configuration to enable tls tracing"
**Is your feature request related to a problem? Please describe.**

While netty TLS tracing isn't supported yet, the functionality added in #407 won't achieve Pixie's goal of 'automatic instrumentation'. This is because netty requires the following runtime configuration (`-Dio.netty.native.deleteLibAfterLoading=false`) to allow Pixie's existing TLS tracing code to access the shared library. When n

[2022-09-08 10:14] divaspathak commented on #581
Hello there, can I work on this issue? Can you give me more info regarding this?

[2022-09-08 16:13] htroisi opened #587 "Add UI developer environment setup to DEVELOPMENT.md"
**Describe the Task**
For developers who want to work on Pixie's UI code, we should share instructions for setting up the development environment in [DEVELOPMENT.md](https://github.com/pixie-io/pixie/blob/main/DEVELOPMENT.md).

[2022-09-09 17:18] #570 closed

[2022-09-09 18:16] Sush-Dew commented on #580
@htroisi Could you assign this issue to me? I am a beginner and this issue seems a good first issue to resolve.

[2022-09-09 18:17] Sush-Dew commented on #530
@aimichelle @tuninger Could you assign this issue to me? I am a beginner and this issue seems a good first issue to resolve.

[2022-09-09 18:18] Sush-Dew commented on #445
@zasgar @nilushancosta Could you assign this issue to me? I am a beginner and this issue seems a good first issue to resolve.

[2022-09-09 18:20] aimichelle commented on #530
Thanks for offering to pick this up! Let us know if you have any questions about Pixie, or K8s in general. Always happy to help!

[2022-09-09 18:22] htroisi commented on #580
Hi @Sush-Dew! I think that @victor-timofei might be working on this feature already. Do any of the other issues tagged with "good first issues" look interesting to you?

[2022-09-09 20:12] ddelnano opened #588 "Determine BoringSSL's SSL struct offsets for it's openssl 1.0.x compatibility"
**Is your feature request related to a problem? Please describe.**

In #569 I've expanded Pixie's TLS tracing to include binaries with statically linked BoringSSL. At this time it only works for binaries linked with BoringSSL targeting openssl 1.1.x compatibility, however, it would be easy to extend this to support for 1.0.x. As mentioned in BoringSSL's docs it has been tracking openssl since 1.0.

[2022-09-09 21:56] nserrino opened #589 "Stacked area timeseries plots incorrectly with gaps"
**Describe the bug**
The timeseries widget in the UI has a bug when in stacked area mode. It leaves gaps in the timeseries. I believe this is happening because for some subseries in a given time window, there are no data points. So for those series, the missing series datapoints show up as gaps.

For example, if service A always has HTTP requests in any interval, but service B does not always have

[2022-09-12 11:09] noman-xg commented on #418
@htroisi Could you assign this issue to me ? I'm a newbie and it seems like a good issue to start with.

[2022-09-12 18:33] #534 closed

[2022-09-13 16:44] Sindvero opened #590 "server_names_hash_bucket_size too low"
**Describe the bug**
When deploying self-hosted pixie and if you set a very long domain name, you get the following error in the cloud-proxy-server container:

[code]

**To Reproduce**
Set PL_DOMAIN_NAME to a very long domain name (e.g. very.very.long.domain.name.used.in.this.example.org) and see cloud-proxy-server container crash.

**Expected behavior**
It doesn't crash

**Screenshots**
If applic

[2022-09-13 21:27] benmathews opened #591 "provisioning failed because vizier with specified UID is already active"
**Describe the bug**
An aborted install attempt has left installation impossible.
A clear and concise description of what the bug is.

**To Reproduce**
Clean up as best as I can

[code]

Reinstall
[code]

It took the operator a long time to get ready. Eventually, the pods were all running in `px-operator`. When the operator is ready it tries to initialize pixie in the pl namespace. This fails. The

[2022-09-14 01:33] c3-pranjaysagar opened #592 "JAVA profiling is not enabled by default as expected."
I followed the tutorial.
Passed the
`java -Dcom.sun.management.jmxremote=true -Dcom.sun.management.jmxremote.port=9999 -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false -XX:+PreserveFramePointer`

Also while compiling used the
`apply plugin: 'java-library'
compileJava {
    options.debug = true
    options.debugOptions.debugLevel = "source,lines,vars"
}`

t

[2022-09-14 08:17] noman-xg commented on #418
@htroisi can you please provide some additional information about this issue and assign it to me ?

[2022-09-14 15:47] giovannicandido commented on #147
Many cloud providers offer ARM in Kubernetes nodes and as they are cheaper it should become a popular choice.
I did like to know that there is work on this, right now I can't use pixie in my cluster for that reason.
Thanks.

[2022-09-14 18:41] NickLanam opened #593 "Add a command palette to the UI"
Pixie's UI used to have a command card that could be summoned with <kbd>Ctrl/Cmd</kbd> + <kbd>K</kbd>.
It allowed quickly choosing+running PxL scripts and their arguments, without touching the mouse.

It looked like this:

![Old Pixie 1](https://user-images.githubusercontent.com/314133/190228619-32fbbc80-6050-4f84-9176-d6ad2c152a58.png)
![Old Pixie 2](https://user-images.githubusercontent.com/3141

[2022-09-14 21:20] htroisi commented on #275
@etep are there any known limitations with the Pixie profiler Java symbolization?

[2022-09-14 21:21] htroisi commented on #275
Quick update for this thread: Support for Java profiling is now included by default in Pixie (no need to manually enable). 🎉

[2022-09-14 22:06] htroisi commented on #147
A quick update for those waiting for ARM support: we do have plans to support ARM, but it’s not yet under development. This work is tentatively planned for Q1'23 and we'll update this thread once we have more to share!

[2022-09-15 01:02] c3-pranjaysagar commented on #275
Thanks @htroisi. I have been trying to test Pixie on Java application and for some reason I'm unable to get Java symbolization working?

<img width="287" alt="Screen Shot 2022-09-14 at 6 00 02 PM" src="https://user-images.githubusercontent.com/99224818/190289008-55e061cc-e471-4abb-9053-04368fc57251.png">
<img width="366" alt="Screen Shot 2022-09-14 at 5 59 30 PM" src="https://user-images.githubuse

[2022-09-15 01:04] c3-pranjaysagar commented on #275
@htroisi Confused, did I miss any steps?

[2022-09-15 02:25] etep commented on #592
Hi @c3-pranjaysagar ,

Could you provide some more details on your setup and how to reproduce the issue? Here are some things that might be helpful for us to debug:
* A container image and a yaml file to start the application on one of our own clusters.
* What java version does your application use?
* The `pem` (for Pixie edge module) logs.
* What environment are you using? e.g. GKE, AKS, EKS, min

[2022-09-15 03:26] Sindvero commented on #590
The workaround is to add this line "server_names_hash_bucket_size 128;" to the http context of the nginx.conf file then mount it to the cloud proxy pod.

But what do you think about having it directly to the file, like that people using long domain name won't have to workaround like that, I can PR the changes if you want? or create a new file just for it and include it in the nginx config?

[2022-09-15 04:27] htroisi commented on #275
@c3-pranjaysagar thanks for reporting this! It looks like @etep responded with some debugging steps on https://github.com/pixie-io/pixie/issues/592, so let's continue the conversation there.

[2022-09-15 04:32] htroisi commented on #590
@Sindvero - thanks for reporting back with the solution. We'd be happy to accept a PR with this modification!

[2022-09-15 17:22] #576 closed

[2022-09-15 17:30] c3-pranjaysagar commented on #592
Thanks @etep for responding. I followed the steps from the tutorial.
Regarding other info it is as follows.

java version - `openjdk version "17.0.2"

logs from pem pod

I20220915 17:12:51.431335 24028 env.cc:47] Started: /app/src/vizier/services/agent/pem/pem
Started external stacktrace collection signal processor thread
I20220915 17:12:51.431660 24028 pem_main.cc:93] Pixie PEM. Version: v0.11.8+

[2022-09-15 17:56] etep commented on #592
The env. var. `PL_PROFILER_JAVA_SYMBOLS` needs to be set to `true`. There is a related question though: why is your env. var. set to false. We are looking at the version info right now. (stay tuned).

[2022-09-15 19:08] c3-pranjaysagar opened #594 "Deploy self hosted pixie cloud on domain other than `dev.withpixie.dev` and use actual certificate (accessible from multiple system without installing the certificate on all the systems) and move away with dns updater."
My use case.

Want to deploy the self managed pixie on the cluster for cluster monitoring and the Live ui to be accessible to all the team members.

Current scenario based on installation steps
- mkcert creates a locally trusted certificate.
- Predefined domain - dev.withpixie.dev
- dns updater updates the host file in the system for the sac ips
- If any other member needs to access the live ui, t

[2022-09-15 19:23] c3-pranjaysagar commented on #592
@etep based on online search and going through the code I also realized same that it should be true, I'm not sure why or how it is getting set to false.

Although I tried manually editing the daemon set to true and relaunching our application pod as well. I believe there is some extra information now as I see less hexadecimal values on stacks. But there is also now a big chunk of stack that says <

[2022-09-15 22:35] c3-pranjaysagar commented on #592
@etep Update after manually editing the daemon set to true and relaunching our application pod as well. The hexa decimal issue were gone after waiting for like 2-3 minutes, and same for the <not symbolized> issue.

But, the stack is not complete. As, not all the methods that are called iteratively are present on the stacks in the flamegraph. Is it a known issue? And is anything else needs to be do

[2022-09-15 23:11] etep commented on #592
Hi @c3-pranjaysagar ,

Good to know that you found a work around. I am currently investigating the theory that there is some override for the default value of the Java profiling env. var. that is handled incorrectly for self hosted. We should keep this issue open while we verify the issue and resolve it (or iterate to a new theory of what is going wrong).

It seems like you have a new issue regard

[2022-09-15 23:31] c3-pranjaysagar commented on #592
@etep thanks for the help, I'll file a new issue for the incomplete profiling result. Although I'm not sure as to what screenshot I could provide for the methods that are not showing on the flamegraph.

Although I'll try to share as much info as I could.

I have 1 more issue related to deployment, Already created an issue for that
https://github.com/pixie-io/pixie/issues/594#issue-1374962388

[2022-09-15 23:44] etep commented on #592
We saw #594 also. Thank you for filing the separate issue. For the profiler, there are some knobs we can tune to see if the stack traces you observe better match your prior expectations. (I will write more about it on the new issue).

[2022-09-15 23:51] c3-pranjaysagar opened #595 "JAVA flamegraph not showing the complete stack."
Steps followed
- Complete tutorial for deploying the self hosted pixie
- Find an issue where stack in the flamegraph shows the hexa-decimal values
- based on the discussion  on the issue https://github.com/pixie-io/pixie/issues/592#issue-1372204593 manually edited the pem daemonsets.
- Hexadecimal values finally resolved to method calls

Current Issue
- the y-depth stack trace is incomplete as man

[2022-09-16 04:44] Sindvero commented on #590
@htroisi - Here's the PR #596

[2022-09-16 18:04] etep commented on #595
Hi @c3-pranjaysagar ,

The best case scenario for debugging this is if you could supply a mostly self-contained way to reproduce the bug. If you have an application that you can create an image and a yaml for, we can create a cluster on Azure (or elsewhere) and deploy it and see the bug reproduce.

Is it possible to follow this route?

[2022-09-17 09:41] ceekay47 commented on #435
Hi @zasgar, I would like to work on this. Could you please help me get started? Thanks!

[2022-09-19 16:21] htroisi commented on #418
@noman-xg we're excited that you're interested in contributing to Pixie!

@oazizi000 @yzhao1012 how challenging would it be to modify the `dns_table` to store requests that don’t receive a response? Do you think this change would be useful overall?

[2022-09-19 18:35] kay-ge opened #597 "stirling support for boringcrypto as used by the 'boringcrypto' version of Golang"
It would be great if stirling were able to decode TLS flows from the 'boringcrypto' versions of Golang.

Stirling would need to be modified to have uprobes for this version of Golang: https://go.googlesource.com/go/+/dev.boringcrypto

This version of Golang is used in order to have FIPS compliant Go programs.  We at VMware use it extensively.

Alternatives:
Don't use the boringcrypto version of Go

[2022-09-20 20:34] o6uoq commented on #60
@htroisi `kind` is the most popular way to run Kubernetes locally - what was the thinking behind deciding to deprioritize?

[2022-09-20 22:07] htroisi commented on #60
@o6uoq the difficulty with supporting `kind` is that it runs K8s clusters inside Docker container "nodes". More context below:

[2022-09-21 00:50] #440 closed

[2022-09-21 08:38] Sush-Dew commented on #530
Hi, @aimichelle please tell me where to start understanding the bug.

[2022-09-21 16:25] aimichelle commented on #530
Whoops, hi @Sush-Dew ! Looks like this was already fixed in https://github.com/pixie-io/pixie/pull/533, so this issue just had not been closed properly.
If you're still interested in just learning about image pull policies: https://kubernetes.io/docs/concepts/containers/images/#updating-images is a good resource.

Closed by https://github.com/pixie-io/pixie/pull/533.

[2022-09-21 16:25] #530 closed

[2022-09-21 16:45] aimichelle commented on #34
This is now supported as of https://github.com/pixie-io/pixie/commit/57d21138ea54c83d780da5cb40ee3ef52b3bdea4! PR has also been submitted to update the OTel plugin scripts.

[2022-09-21 16:45] #34 closed

[2022-09-21 16:47] aimichelle commented on #250
Closing as a duplicate of https://github.com/pixie-io/pixie/issues/147. Please look at that issue to track any updates!

[2022-09-21 16:47] #250 closed

[2022-09-22 17:49] kaisubr commented on #182
Note, for newer versions of pixie, I needed `cpus=4 and memory=8000`. Thanks, this thread helped to narrow down the issue :)

[2022-09-22 18:51] zasgar commented on #266
This is now implemented: https://docs.px.dev/installing-pixie/install-guides

[2022-09-22 18:51] #266 closed

[2022-09-22 18:53] zasgar commented on #594
Related to #345

[2022-09-22 18:53] zasgar commented on #345
Closing this and tracking in #594

[2022-09-22 18:53] #345 closed

[2022-09-22 20:11] aimichelle opened #598 "Ability to add tolerations to PEMs"
**Is your feature request related to a problem? Please describe.**
Users would like to easily add tolerations in order to deploy PEMs to nodes that have taints.
This can be done by manually updating the resources to include the tolerations, however these changes aren't sticky after auto-updates.
You can currently use patches to add the toleration or nodeSelector to various resources, but this is p

[2022-09-22 21:31] vihangm opened #599 "Support forward proxy configurations for Pixie Vizier"
**Is your feature request related to a problem? Please describe.**
Pixie Users might want to use a Forwarding Proxy for communications from Vizier to Cloud. This would help users who have firewalls and want only a single forward proxy to connect to Pixie Cloud.

**Describe the solution you'd like**
Golang already supports [proxy configuration](https://pkg.go.dev/golang.org/x/net/http/httpproxy#Con

[2022-09-22 22:07] benmathews commented on #591
I deleted the auth as [suggested in slack](https://pixie-community.slack.com/archives/CQ63KEVFY/p1663136355586509?thread_ts=1663100618.020419&cid=CQ63KEVFY).

vizier-query-broker is in a crash loop. Logs attached.
[pixie_logs_20220922160414.zip](https://github.com/pixie-io/pixie/files/9629675/pixie_logs_20220922160414.zip)

[2022-09-22 22:37] oazizi000 opened #600 "Increased CPU utilization in traced Go applications"
**Describe the bug**
The CPU utilization of Golang applications increases after Pixie is deployed. The CPU overhead can be as high as 2x.

**To Reproduce**
Deploy Pixie on a cluster with a Go application that uses TLS.

**Expected behavior**
The CPU usage of the Go application (as reported by top) should not increase significantly.

**Screenshots**
N/A

**Logs**
N/A

**App information (please comp

[2022-09-22 23:35] zasgar commented on #592
The issue here is that default value of the flag is incorrect. In addition we need to update the [release checklist](https://docs.google.com/spreadsheets/d/1t6OwywufTcvj2TSR4Don_QSqdyBuV97DJ9qRJbHMat4/edit#gid=0) to include java profiler.

[2022-09-22 23:38] zasgar commented on #592
@aimichelle, can you patch the flag and update the release checklist when you get a chance.

[2022-09-22 23:43] zasgar commented on #591
@benmathews , we can't reproduce this on our end. Can you please reopen if you see this issue again or have steps to repro.

[2022-09-22 23:43] #591 closed

[2022-09-22 23:49] zasgar commented on #587
@aimichelle , Can we just add a pointer to the src/ui/README.md file?

[2022-09-22 23:56] zasgar commented on #582
@philkuz, can you clarify what work is left on this issue. Perhaps you can file another issue for follow on work. Otherwise, can you add a checklist of items that need to be completed for this issue to be closed.

[2022-09-23 00:08] zasgar commented on #572
@aimichelle , can you see if you can repro this?

[2022-09-23 00:10] zasgar commented on #546
@orishuss, assigning this to you for now since you implemented the first pass at this. CC: @oazizi000

[2022-09-23 00:15] zasgar commented on #453
This is is complete (other than the blog, but we can track that separately).

[2022-09-23 00:15] #453 closed

[2022-09-23 14:58] noman-xg commented on #418
@htroisi any updates on the status of this issue ? Here's what i know till now.

 I have looked through the workflow in
Stirling/source_connectors/socket_tracers/protocols/dns and the contribution guides for new protocol implementation.

According to my understanding we already have a variable which is keeping count of the DNS requests for which we find no response (error_count) in ...dns/stitcher

[2022-09-23 17:49] nserrino opened #601 "Make it easier to zoom in and out of service maps"
**Is your feature request related to a problem? Please describe.**
Currently, it's a bit difficult to zoom to the right resolution in service maps. The sensitivity is a bit high, and in addition, the reliance on the scroll wheel alone is a bit difficult for users to discover.

**Describe the solution you'd like**
We should consider the following ideas:
1. Reducing the sensitivity of the scroll whe

[2022-09-23 21:26] chengruizhe commented on #600
Pixie puts a Uprobe on the `casgstatus(gp *g, oldval, newval uint32)` function to retrieve the `goid`(or go routine ID) needed to associate entry and return uprobes for golang TLS tracing (mainly on `SSL_read` and `SSL_write`).

The `casgstatus` probe triggers everytime the go runtime switches context between go routines. The context switch can happen more than 50,000 times per minute on a pod wit

[2022-09-23 21:53] oazizi000 commented on #578
Pixie's tracing with Istio was affected by two issues:
1) The rendering of the service map when accessing local IPs (like localhost or Istio's 127.0.0.6) was broken, because local addresses were being considered as global IPs rather than local to the container they were part of. This would cause service maps that would be incorrect.

This has been fixed by treating localhost addresses in PxL scrip

[2022-09-23 22:00] oazizi000 commented on #578
The fixes for this issue rolled out in a number of commits by @yzhao1012 :
2f8613d
c6b21bc
6d24549
d378f8f
3f08697
ce44943

With the fix to the service maps, this issue is considered resolved.

[2022-09-23 22:00] #578 closed

[2022-09-23 22:07] #592 closed

[2022-09-26 06:46] amirkkn commented on #350
Hi @Colstuwjx , I run pixie on non-minikube self-managed cluster and I get the same error after attempting to login. How did you resolve the issue? Thanks for advance!

[2022-09-26 10:42] amirkkn opened #602 "[Self-hosted Pixie on non-minikube cluster] Login error "server closed the stream without sending trailers""
**Describe the bug**
I've deployed pixie based on your [install documentation](https://docs.px.dev/installing-pixie/install-guides/self-hosted-pixie/) to our self-hosted kubernetes . it is about real cluster and not minikube. Because of our internal policy we don't use loadbalancer service. Therefore I replaced it with local service and using nginx ingress for exposing it to outside. The current s

[2022-09-26 16:47] #587 closed

[2022-09-26 17:18] htroisi commented on #418
@noman-xg - you are on the correct path! I spoke with @yzhao1012 about this and he thinks it would be a very straightforward implementation to output the request frames (with missing responses) that are erased at line 231.

However, before you make this change I would like @oazizi000 (the original author of this code) to confirm that he thinks this would be a useful feature.

[2022-09-26 18:06] zasgar commented on #602
@aimichelle, can you try to reproduce this and help out?

[2022-09-26 18:18] aimichelle commented on #602
Hi @amirkkn , would you mind sharing your nginx ingress configurations? My guess is there is some misconfiguration there.

[2022-09-26 21:18] htroisi commented on #485
Closing this because I have not been able to reproduce this bug.

[2022-09-26 21:18] #485 closed

[2022-09-27 15:58] #589 closed

[2022-09-27 16:54] htroisi commented on #418
@noman-xg - I spoke to a few people offline and it sounds like everyone is in agreement that it would be useful if you could make this change! Couple of notes:
- Take a look at the `amqp_data` table's implementation. Apparently this table implements this asynchronous request / response behavior in the `StitchFrames` function.
-  @oazizi000 requests that you make the behavior configurable. I'm gues

[2022-09-27 23:10] aimichelle commented on #581
Hello @divaspathak , just checking in! Have you made any progress here? Happy to give pointers if you need any.

[2022-09-28 09:49] amirkkn commented on #602
Hi @aimichelle ,

here is my nginx  ingress config:

[code]

[2022-09-28 20:53] c3-pranjaysagar commented on #594
@zasgar any update on this?
Also, a query can we use example.something instead of dev.pixie.dev? What I mean is can we replace 3 level domain with 2 level domain and make it work? Or do we need a certificate that supports more than 3 levels of domain

[2022-09-29 08:40] noman-xg commented on #418
@htroisi please assign this issue to me I've started working on it.

[2022-09-29 15:37] #579 closed

[2022-09-29 18:28] aimichelle commented on #473
Changes are in: https://github.com/pixie-io/pixie/commit/a065a1ea833beb8c04e96a23fc81bcd9bedb243b https://github.com/pixie-io/pixie/commit/929f7ca32f3e950c62cc140418a52b1f1abb857e https://github.com/pixie-io/pixie/commit/f8db8369f004f3ba990510bb2c6006e692cc836d https://github.com/pixie-io/pixie/commit/4e4a4205dbe9ca0eb0a1b6b7f709be7f2ce80b2c https://github.com/pixie-io/pixie/commit/e84f6c1eaf2d195

[2022-09-29 18:28] #473 closed

[2022-09-30 15:45] nserrino opened #604 "px/cluster: "Namespaces" table only shows a subset of actual namespaces due to PxL script bug"
**Describe the bug**
The namespaces table in px/cluster (and possibly other views) does an inner join with a services table and a HTTP requests table. For namespaces that don't have any services, or namespaces that haven't received any HTTP requests in the time window, they will be omitted from this view.

We should change these joins to left/right so that there are still results for these types o

[2022-10-01 15:49] EStork09 commented on #431
I think outside of the helm charts that people have already created. Is there any desire from the pixie-labs maintainers if we created a chart similar to how the operators has one. If we created would that be maintained similar to the kustomize, or should someone create a chart for pixie cloud outside of the pixie labs umbrella?

[2022-10-03 15:40] zasgar commented on #590
Thanks for the contribution @Sindvero!

[2022-10-03 15:40] #590 closed

[2022-10-03 16:26] oazizi000 commented on #600
Fixed in 1a6a9effcb4955a88de6675a9e83a327ee18821d and a7236efbbacd02e20e629988abef164292450517.

[2022-10-03 18:00] philkuz commented on #604
Had a chance to check this out and the bug that you saw is not caused by the inner join in that part of the script. We highly suspect that 1 of 2 things happened:
1. You ran into #534 which has recently been fixed
2. Namespaces that didn't have services also don't have pods so we don't collect data on the namespace.

[2022-10-03 18:00] #604 closed

[2022-10-03 19:10] aimichelle opened #608 "Support for clusters with more than 300 nodes"
**Is your feature request related to a problem? Please describe.**
Pixie best supports clusters with less than 100 nodes. Due to limitations such as pulling data across all nodes into Kelvin at once, waiting for all PEMs to respond for a query, etc, queries can be slow, timeout, or crash.

**Describe the solution you'd like**
We would like Pixie to work smoothly on clusters with more than 300 node

[2022-10-04 04:39] aimichelle opened #610 "Support queries with results containing rows > 1MB"
**Is your feature request related to a problem? Please describe.**
If you run a query resulting in rows with lots of data (>1MB), you may run into two issues:
1. The message is too large for the gRPC channel from PEM -> Kelvin.
2. If the data is successfully sent to Kelvin, it will not make it through the passthrough proxy because of NATS's max message limit of 1MB. The user will see the error `La

[2022-10-04 15:03] amirkkn commented on #602
I close this issue. I replaced ingress nginx with ELB and service nodePort

[2022-10-04 15:03] #602 closed

[2022-10-04 15:19] amirkkn opened #611 "[Self-hosted Pixie on non-minikube cluster] Failed to authenticate. Please retry `px auth login`"
I've deployed pixie based on your [install documentation](https://docs.px.dev/installing-pixie/install-guides/self-hosted-pixie/) to our self-hosted kubernetes . it is about real cluster and not minikube. I'm trying to deploy pixie using CLI but i get the error "px auth login".

[code]

It opens the browser and i can login into. After login
![image](https://user-images.githubusercontent.com/229541

[2022-10-04 19:22] vihangm commented on #531
This has been completed and we have switched over to JetStream.

[2022-10-04 19:22] #531 closed

[2022-10-05 19:15] ddelnano commented on #407
This is finally implemented with https://github.com/pixie-io/pixie/commit/86b3c31d4c3d344dfc8369b02f02570b808f408f being merged 🥳

The following changes were needed in order to complete this:
- https://github.com/pixie-io/pixie/pull/367 -- initial support for mux protocol tracing (this was spread over more PRs, but this was the final one)
- https://github.com/pixie-io/pixie/pull/413 -- updated thr

[2022-10-05 19:15] #407 closed

[2022-10-06 23:44] vihangm commented on #611
Hey @amirkkn can you please let us know what cloud release you are running?

You can check the `ImageID` for the `cloud-proxy` pod. My guess is that you are probably on `3efab270c096f66024acf73522c6b255a19fad86333cc35c759dee08a0c7a94c` or an older image.

This was fixed in https://github.com/pixie-io/pixie/commit/57e48c11639acd1ad4fb04a43319862317077bc1 which maps to Image ID `87b207f5b1d98b09d91c

[2022-10-07 09:57] amirkkn commented on #611
Hi @vihangm,
thanks for response. I use currently the latest.
[code]
I pulled today for the latest changes and deployed again. But the error is the same.

[2022-10-07 16:59] aimichelle commented on #536
We've just replaced NATS Streaming (STAN) with Jetstream. This should hopefully resolve this issue. Please feel free to reopen if anyone continues to see this problem with Jetstream!

[2022-10-07 16:59] #536 closed

[2022-10-07 17:04] htroisi commented on #418
@noman-xg were you able to get the [dev environment](https://github.com/pixie-io/pixie/blob/main/DEVELOPMENT.md) running? If not, let us know and we can help unblock you.

[2022-10-07 17:05] aimichelle commented on #572
Hi @dontmint , just wanted to check back in. Are you still running into this on the latest version of the cloud? Thank you!

[2022-10-07 17:05] htroisi commented on #580
@victor-timofei were you able to get the [dev environment](https://github.com/pixie-io/pixie/blob/main/DEVELOPMENT.md) running? If not, let us know and we'd be happy to help unblock you.

[2022-10-07 17:46] noman-xg commented on #418
Hey @htroisi . Yeah, actually i was able to set that up and successfully test the changes. I'll be creating an initial PR for preview sometime tomorrow or the day after.

[2022-10-10 12:09] noman-xg commented on #418
@oazizi000 @htroisi I have created the pull request related to this issue. Looking forward for code reviews.

[2022-10-11 00:42] htroisi opened #614 "Upgrade Kratos to `v0.9.9+`"
**Is your feature request related to a problem? Please describe.**
I don't want to have to manually [set the admin account password](https://docs.px.dev/installing-pixie/install-guides/self-hosted-pixie/#1.-deploy-pixie-cloud-authentication-using-kratos-hydra) when installing Pixie Cloud. This manual step complicates installing Pixie using a GitOps processes (see [Slack thread](https://pixie-commu

[2022-10-11 03:15] zeagur opened #615 "[Self-hosted] Openshift self-hosted support"
**Is your feature request related to a problem? Please describe.**
In pixie Nginx, we are currently using `kube-dns.kube-system.svc.cluster.local` while in OCP, they are using `dns-operator` `dns-default.openshift-dns.svc.cluster.local`, this will result in pod unable to start if deploy inside OCP cluster, also in OCP there is some `SCC` and `SA` that needs to be configured in order to deploy in i

[2022-10-11 08:04] zasgar commented on #590
Thanks for identifying the fix. Can you make a PR it?

On Wed, Sep 14 2022 at 8:27 PM, Aurelien < ***@***.*** > wrote:

[2022-10-11 08:16] yousaf-aftab commented on #598
Hi @aimichelle I'm newbie and I'm interested in this issue. Can you tell a little bit about how you are passing toleration parameters in the following  command
[code]
because setting nodeSelector will not tolerate the taint, it will only match the labels of node and scheduler will try to schedule the pod on that node if the labels matches but it will not be scheduled if
 you don't pass the tolerat

[2022-10-11 21:39] philkuz commented on #582
Coming late to the party here. It looks like we've completed much of the initial work and are awaiting user feedback to decide what else to work on.

[2022-10-11 21:39] #582 closed

[2022-10-11 22:06] philkuz opened #616 "Planner does not prune PEM plans sufficiently for some services"
**Describe the bug**
While switching over px/service to use pxviews, I discovered that our distributed planner failed to prune PEMs that definitely did not have data about a service that we were filtering on. Basically service was only backed by a single pod on a single node, but the plan came back with 21 nodes out of 30 total.

**To Reproduce**
Steps to reproduce the behavior:
1. Open px/service

[2022-10-11 23:38] philkuz opened #617 "PxL compiler optimization: Filter pushdown should try pushing metadata functions down"
**Is your feature request related to a problem? Please describe.**
`pxviews` is a nice library, but logically equivalent scripts using `pxviews` can end up having wildly different performance depending on how users write filters. Basically the filter push-down optimization does not work under some conditions

For example this script
[code]
is much faster than the following
[code]
because `pod_reso

[2022-10-11 23:46] philkuz opened #618 "PxL Compiler Optimization: Drop filters using px.contains() with empty strings"
**Is your feature request related to a problem? Please describe.**
While debugging performance issues in queries, I found that filters that use `px.contains()` with empty string arguments were very expensive but didn't do anything. `df = df[px.contains(df.pod, "")]` is equivalent to no filter.

This shows up with `px/perf_flamegraph` when no arguments are specified and on a 30-node cluster the exp

[2022-10-12 00:11] philkuz opened #619 "PxL Compiler Optimization: Prune columns with cardinality <= 1 from groupby statements"
**Is your feature request related to a problem? Please describe.**
Each marginal group for an aggregate increases the cost of the aggregate significantly. Under some conditions, we could remove the column from the groups mainly because we know that the column only has 1 element and we don't care about the exact value anyways. I discovered this with `px/pod` when switching over to `pxviews`.

The q

[2022-10-12 00:19] philkuz opened #620 "PxL Compiler Optimization: Columns should be pruned after Filter pushdown"
**Describe the Task**
Filter pushdown currently happens after Column Pruning in the optimizer. However, some filter pushdown moves a filter before data is sent over GRPC and in some narrow cases that means a column is unnecessarily sent over the network
[code]
sends over `trace_role` despite being filtered inside of `pxviews.inbound_http_summary` and not being requested in the output ( the `return

[2022-10-12 08:24] OrlinVasilev opened #621 "How SBOM is generated"
Hi team,

looking for solutions how did you implement the SBOM creation!
Thank you!
Orlix

[2022-10-12 10:59] psolarcz opened #622 "Min Kubernetes Version"
**Describe the Task**
Please consider changing K8s version requirement, currently it [says](https://docs.pixielabs.ai/installing-pixie/requirements/#kubernetes) `v1.16+`. However when installing on 1.20 I'm getting error:

[code]

Please consider changing to `v1.21+` as per [docs](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#poddisruptionbudget-v125)

[2022-10-13 22:53] aimichelle commented on #598
Hey @yousaf-aftab ! The patching mechanism is essentially performing the equivalent of a [kubectl patch](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/).

I think something similar to what was done for nodeSelector (example changes here https://github.com/pixie-io/pixie/pull/362) would work really well for the tolerations! Let me know if you have any qu

[2022-10-14 21:26] benkilimnik opened #623 "Add NLP-based PII detector"
**Is your feature request related to a problem? Please describe.**

Pixie supports a `PIIRestricted` data access mode that replaces sensitive data with `<REDACTED_$TYPE>` using [redact_pii_best_effort](https://docs.px.dev/reference/pxl/udf/redact_pii_best_effort/). Currently only a limited number of rule-based PII types are redacted (IPs, emails, MAC addresses, IMEI, credit cards, SSNs, IBANs).

*

[2022-10-17 17:50] ddelnano commented on #407
The past week I tried to run a netty application on a pixie cluster deployed on minikube and I realized there are a few remaining issues to work through. These are all related to the slight differences between pixie's acceptance test environment and the containerized version that runs in production:
- The PEM docker image is missing the `libcrypt1` package, which leads to RawFptrManager issues wit

[2022-10-17 18:16] #622 closed

[2022-10-18 03:10] tharinduwijewardane opened #625 "Unable to change the postgres db password"
**Describe the bug**
Unable to change the postgres username or password

https://github.com/pixie-io/pixie/blob/release/vizier/v0.12.6/scripts/create_cloud_secrets.sh#L39

**To Reproduce**
Change the POSTGRES_PASSWORD in create_cloud_secrets.sh
Follow steps to deploy pixie cloud (self host)

**Outcome**
Cloud pods crash with errors specifying inability to connect to postgres db

**App information

[2022-10-18 22:29] philkuz opened #627 "Support exporting OpenTelemetry Exponential Histograms from Pixie"
**Is your feature request related to a problem? Please describe.**
[Exponential Histograms](https://opentelemetry.io/docs/reference/specification/metrics/data-model/#exponentialhistogram) are a flexible metric type meant to represent distributions. We currently support a similar metric type, Summary. However, Summary is currently in legacy mode with OpenTelemetry - largely because there is no natu

[2022-10-20 17:17] philkuz commented on #625
@vihangm good to close this issue?

[2022-10-20 17:32] #625 closed

[2022-10-20 18:20] htroisi commented on #418
This feature was added in #613. Thanks for the contribution @noman-xg!

[2022-10-20 18:20] #418 closed

[2022-10-23 23:05] ddelnano opened #632 "Ensure `RawFptrManager` can access dependent shared library files"
**Is your feature request related to a problem? Please describe.**
Netty's TLS tracing support (tracked in #407) has implemented the majority of the functionality to support these new use cases. However, due to differences in Pixie's acceptance tests as mentioned in https://github.com/pixie-io/pixie/issues/407#issuecomment-1281240803 and https://github.com/pixie-io/pixie/pull/624, there is an issu

[2022-10-23 23:14] ddelnano commented on #407
After debugging this more, 3 was due to running the netty application outside of k8s (which causes Pixie to ignore the process). I've created #632 for fixing item 1, and I'll follow up with enabling the `RawFptrManager` by default soon (item 2).

[2022-10-24 07:27] sgewirtz1 commented on #594
I'm attempting the same type of self hosted deployment and running into issues with the login step after defining the admin password.

have so far tried:
release/cloud/prod/1666129068 with oauth/hydra
release/cloud/prod/1666129068 with oauth/hydra/oauth2/auth
release/cloud/prod/1664907260 with oauth/hydra
release/cloud/prod/1664907260 with oauth/hydra/oauth2/auth
In between each I've tried clearin

[2022-10-24 12:39] nilushancosta opened #633 "Graph grid line labels are repeated in `px/pod` script's graphs"
**Describe the bug**
When I opened the `px/pod` script in the Pixie console, the grid line labels of graphs were repeated.
See the screenshot below.
1. All grid lines of Latency graph say `2s`
2. In HTTP Requests and CPU usage graphs, `0.1` label is added next to multiple grid lines
<img width="1650" alt="Screenshot 2022-10-24 at 17 51 10" src="https://user-images.githubusercontent.com/19643850/19

[2022-10-24 14:59] benjdewan opened #634 "The Pixie Operator creates non-existent apiGroup/resource permissions combinations"
**Describe the bug**
The pixie-operator creates Roles that provide blanket access to manipulate non-existent combinations of apiGroups and resources. Due to the hierarchical nature of RBAC in Kubernetes this means deploying Pixie at all requires granting the operator those same permissions, even though neither the operator, nor the services it manages can make use of them.

For example, the [`pl-u

[2022-10-28 14:22] foolishhumans commented on #368
Same issue here... did anyone find a fix ?

[2022-10-28 14:22] foolishhumans commented on #387
same issue here... did you find a fix ?

[2022-10-28 15:47] zasgar commented on #435
Likely related to : #377, #635

[2022-10-30 06:53] noman-xg commented on #377
Hey @Emin3mU I'm having some trouble reproducing this error. Below are the details.

1- Cluster : minikube
2- Host OS: Ubuntu 20.04
3- Cgroup version: v2
4- Docker driver configured to use Cgroup driver ( also v2 )

Kelvin logs.
[code]

I think I'm missing something here because even after configuring docker to use cgroup2, when i deploy pixie to minikube the pixie pods are still able to resolve t

[2022-10-31 17:41] chengruizhe opened #636 "Pixie UI shows empty row for Nodes and Namespaces"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Please make sure the screenshot does no

[2022-10-31 22:26] #601 closed

[2022-10-31 23:25] philkuz opened #637 "Plugin loader job or service should notify the user if defaultFrequencyS is not set"
**Is your feature request related to a problem? Please describe.**
I wrote a plugin script recently and successfully pushed it to my dev cloud. I enabled it, but the script wouldn't run. It took me a few minutes to realize that the defaultFrequencyS value was not set yet. Nothing notified me that there was a problem, but I discovered that the time was set to 0 after wondering why the script took s

[2022-11-01 19:59] oazizi000 commented on #595
@c3-pranjaysagar We're not able to reproduce this right now, so closing. But feel free to re-open with more details, and we'll take a look!

[2022-11-01 19:59] #595 closed

[2022-11-02 20:38] oazizi000 opened #638 "Node.js profiling support"
Support flamegraphs/profiles with full symbolization for Node.js applications. Currently flamegraphs for Node.js apps only show hex numbers instead of human readable symbols.

[2022-11-03 23:37] rmoyan opened #640 "Support for MongoDB query profiling."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-11-04 21:27] etep opened #641 "PEM does not check for storage available before copying libs into Java container."
To provide Java symbols, the PEM copies JVMTI agent libraries into Java containers, i.e. so that the agent library can be dynamically loaded into the Java runtime. This should be predicated on a check that ensures sufficient storage is available.

**To Reproduce**
We will use the Pixie demo app. "sock shop" to reproduce this error.
1. Apply the following patch:
[code]
in the Pixie repo.
2. Deploy

[2022-11-07 19:01] JamesMBartlett commented on #621
If you look in `tools/licenses`, that contains the code to build the SBOM.

There's a README file in there you can checkout. The short version of how it works is we attempt to pull licenses from github's API, and for dependencies for which that doesn't work, we have `manual_licenses.json` that we keep up to date.

[2022-11-07 19:01] #621 closed

[2022-11-08 00:32] aimichelle commented on #539
Is there some way we can actually distinguish between a `;` to mark a complete stackframe vs not? If not, we should probably update the underlying tables so that they use another character as a delimiter instead.

[2022-11-10 00:15] oazizi000 opened #643 "Restrict host path mounting to only the necessary directories in the PEM"
Currently, the PEM mounts the entire host filesystem. Access to the host is required to install eBPF uprobes on target binaries inside of other containers. However, access to the entire host filesystem is not required. We should restrict access to only those directories that are truly required (e.g. /var and anything else).

[2022-11-10 01:21] philkuz opened #644 "Complete all Protocol Op mapping functions"
**Is your feature request related to a problem? Please describe.**
We have implemented mapping functions like: [px.mysql_command_name](https://docs.px.dev/reference/pxl/udf/mysql_command_name/) [px.kafka_api_key_name](https://docs.px.dev/reference/pxl/udf/kafka_api_key_name/) etc for mapping values. We now have similar gaps in the place of other protocols.
**Describe the solution you'd like**

You

[2022-11-10 01:25] philkuz opened #645 "Redis protocol parser should not strip error prefix"
**Is your feature request related to a problem? Please describe.**
Currently the Redis protocol strips the single character prefix for each type of data. This is mostly fine for most data - however, it makes it impossible for downstream services cannot determine whether a response is a failure or not.

I ran into this problem building downstream consumer scripts of redis data - I couldn't identify

[2022-11-10 14:52] miospruit commented on #431
i would say it would be very nice to get a helm chart of the pixie cloud from the developers of pixie.

[2022-11-11 03:32] htroisi commented on #644
Updated list because I can't edit the original:

- [X] `px.cql_op_name`: Added in diff D12521
- [X]  `px.dns_rcode_name`: Added in diff D12523
- [X]  `px.amqp_resp_name`: we already have [`px.amqp_method_name()`](https://docs.px.dev/reference/pxl/udf/amqp_method_name/)
- [X] `px.mux_req_type_name`: we already have `px.mux_frame_type_name()` (TODO: update docstrings)
- [ ]  `px.mysql_status_name`
-

[2022-11-11 17:00] htroisi opened #646 "Plugin support for exporting bpftrace scripts"
### Feature request

As a user, I want to be able to export data from a `bpftrace` script using the Pixie plugin.

[2022-11-11 20:18] noman-xg commented on #377
@zasgar Can this issue be closed now ?

[2022-11-11 20:33] #377 closed

[2022-11-11 20:34] aimichelle commented on #377
Fixed by https://github.com/pixie-io/pixie/pull/635.

[2022-11-11 21:02] etep commented on #641
Closed by [3ed398761c](https://github.com/pixie-io/pixie/commit/3ed398761c618496dc5d79c5cf581be63289f6eb).

We now check for space available in `/tmp` in the target container. If less than 16MB are available, we abort the Java symbolization agent attach process and put a row in the Stirling error table (viewable in the UI) with this information.

[2022-11-11 21:03] #641 closed

[2022-11-12 00:29] nserrino opened #647 "Associate AMQP Frames to a single transaction"
**Is your feature request related to a problem? Please describe.**
AMQP will have its transactions broken into multiple frames, each of which is traced as a record in Pixie's amqp_events table. I would like for there to be a field on these events that allows me to look at all of the frames for a particular transaction. In other words, associating the Content Header, Content Body, and other frames

[2022-11-14 22:36] htroisi opened #648 "[Pixie Plugin] Better error handling for identical script names"
**Describe the bug**
I tried to create a custom script with the same name as a preset script. When I pressed the "Create" button, I got the following generic error:
[code]

**Expected behavior**
It would be nice to have an error that lets me know that I have an existing script with that name and so I should choose another name.

[2022-11-14 23:51] chengruizhe commented on #412
Closed for now due to inactivity and difficulty to reproduce.

[2022-11-14 23:51] #412 closed

[2022-11-15 00:32] chengruizhe opened #649 "Easy arguments/return value tracing through PxL using BPFTrace Uprobes"
**Is your feature request related to a problem? Please describe.**
Pixie now provides support for dynamically deploying Uprobes onto a set of K8s pods using BPFTrace. This can be done with
[code]
However, this approach does require writing a BPFTrace program, which can be both time-consuming and error-prone. One of the most commonly used features for Uprobe BPFTrace is to inspect the arguments or

[2022-11-15 19:17] htroisi opened #650 "Pixie plugin doesn't report compiler error"
**Describe the bug**
This [MySQL Spans](https://github.com/pixie-io/pixie-plugin/blob/main/plugins/new-relic/retention.yaml#L487) script does not error when used as a plugin export script. It does error when used in the Scratch Pad.

**To Reproduce**
1. Add the following script as a custom export script and observe that it successfully exports records:
[code]

2. Copy the script into the Scratch P

[2022-11-15 19:41] philkuz commented on #650
The bug is that we are not pushing these functions up in this case

Looked into this more: the plugin behavior actually looks like it shouldn't throw an error.
Added
[code]
And saw that the `upid_to_pod_name` function got planned on PEMs rather than on Kelvin. It seems like when you add px.display, the planner doesn't do the right thing here.

[2022-11-15 19:52] #503 closed

[2022-11-15 19:59] philkuz opened #651 "Record AMQP latency measurement"
**Is your feature request related to a problem? Please describe.**
AMQP data currently does not have a latency measurement attached. All of our other protocols do measure latency.
I imagine that the concern at the time is that AMQP is a queueing protocol so latency makes less sense, but we track this data for streaming queries like Kafka.
**Describe the solution you'd like**
New column in `amqp_ev

[2022-11-16 05:37] MrSupiri opened #652 "Malformed DNS response body"
**Describe the bug**
Response body of the records from `px/dns_data` script comes with malformed IP address. This is most likely occurs due to pointer misalignment when reading from the data buffer.

**To Reproduce**
Steps to reproduce the behavior:
1. Open `px/dns_data` script from the Pixie console.
2. Finding a DNS query which has a `resp_body`
3. Inspect the `resp_body` of DNS query.

**Screen

[2022-11-16 23:04] dborysenko opened #653 "create-admin-job is missing"
**Describe the bug**
Tried to install pixie cloud and found that create-admin-job was never created. Found below commit which is included in the latest tag, can it be the reason why job is missing? If so, what is the correct way to get credentials for admin user for freshly installed cloud?
https://github.com/pixie-io/pixie/commit/3402b495fdaf8d1e3faededc04e973c0fb83efc6#diff-fc2a310fcfedfefb0046d

[2022-11-17 00:15] htroisi commented on #653
@dborysenko - we recently changed the self-hosted install flow to remove the manual step of setting the admin password (which is why this job has been deleted). The default admin password is now set for you ([commit](https://github.com/pixie-io/pixie/commit/cb9cfe569f524584f268eb038e56709352bb9619)). Simply login into the `admin@default.com` account with `admin` as the password.

New directions he

[2022-11-17 03:07] dborysenko commented on #653
Great, must have missed updated documentation.
Closing. Thank you.

[2022-11-17 03:07] #653 closed

[2022-11-17 07:41] pengfeiopen commented on #611
cloud-proxy image tag 1667424853. is not solve

[2022-11-18 06:57] oazizi000 commented on #652
Issue appears to be related to a rapidjson string reference, for which the underlying data is moved. Fix coming soon.

[2022-11-18 10:01] SakshiT25 commented on #581
Hello @aimichelle, I would like to work on this issue, can you guide me through the process?

[2022-11-21 06:13] sgewirtz1 opened #655 "User deletion and Organization selection"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When I have a collection of resources that I'm managing and want to add users to my organization for those that sign up in a timely fashion with the invite link it works fine, but for users that sign up either directly or with the incorrect

[2022-11-21 06:18] sgewirtz1 commented on #655
Depending on the scope and feedback I could attempt a PR for this

[2022-11-21 23:46] philkuz opened #657 "Ensure that px-sock-shop creates AMQP data"
**Is your feature request related to a problem? Please describe.**
We track AMQP data but don't have a demo app that shows it off. The px-sock-shop demo has RabbitMQ but our load-tester doesn't actually hit the RabbitMQ endpoint. It probably should be able to, but I'm not entirely sure what the problem is.

**Describe the solution you'd like**
The following should produce > 0 rows
[code]

We have

[2022-11-22 00:26] philkuz commented on #657
After some investigation, found that the issue is related to 7e78dd74183b0834ae77fc733252153e07f8b8be. Something in the build process broke the mongo connection. In `carts`:
[code]
looks like we upgraded Mongo?

[2022-11-22 07:51] sturman opened #658 "Helm fails to render `pixie-operator-chart` templates. Failure during installing `pixie-operator-chart` with ArgoCD due to `lookup` helm function"
**Describe the bug**
Helm fails to render templates for 'pixie-operator/pixie-operator-chart' chart.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Run `helm repo add pixie-operator https://pixie-operator-charts.storage.googleapis.com`
1. Run `helm template pixie-operator pixie-operator/pixie-operator-chart`

**Expected behavior**
Templates (Namespace, ClusterRole, ClusterRoleBindi

[2022-11-22 11:58] zaljic commented on #658
I have the same issue

[2022-11-22 17:40] htroisi commented on #655
For this specific use case, I think the simplest solution would be to add the ability for a user to delete their own account.

According to @aimichelle we have the capability to remove other users from your org. However, if you’re the last user in the org (i.e. you accidentally created your own org and you're the only person in it), we don’t allow you to. So the improvement here would be to implem

[2022-11-22 17:46] sgewirtz1 commented on #655
Sounds appropriate, thanks!

On Tue, Nov 22, 2022 at 7:40 PM Hannah Troisi ***@***.***>
wrote:

[2022-11-22 21:02] anjuls opened #659 "qb_wait container generating huge amount of logs"
I am actually shocked 🤕 to see an excessive log bill for the logs emitted by the qb_wait container in Pixie.

- need to have JSON as default
- need to reduce unnecessary emits on STDERR

![image](https://user-images.githubusercontent.com/252614/203420047-9c9158ad-f3fb-4725-9b63-72d3a9037b65.png)

[2022-11-22 23:17] aimichelle commented on #599
Documenting findings here while testing out which configurations work. We only have two pods which make outbound requests: vizier-cloud-connector (to the cloud), and kelvin (if any plugins are enabled, to the external OTel endpoint).

The proxy for `vizier-cloud-connector` can easily be configured using `HTTPS_PROXY`/`HTTP_PROXY`/`NO_PROXY` mentioned above:
[code]

grpc-c supports the `grpc_proxy`

[2022-11-23 16:58] #652 closed

[2022-11-23 17:12] oazizi000 commented on #657
@chengruizhe was looking into this issue last week and identified two issues:
1) a Mongo upgrade
2) a Java upgrade

(1) was addressed by a1dcad3ef8ab32cfeaa3c9f39161f40aadf25f89, but @chengruizhe is continuing to look into (2).

[2022-11-28 06:16] noman-xg commented on #651
https://github.com/pixie-io/pixie/issues/651

[2022-11-28 12:58] zlcolin commented on #466
+1

[2022-11-29 12:45] tshiyuoo commented on #653
@htroisi   when  visit Pixie login page , page error: Cannot read properties of undefined (reading 'password'), How to fix it?

[2022-11-29 16:31] htroisi commented on #653
@tshiyuoo it looks like Phillip answered your question on our community Slack. Did re-deploying Pixie with the latest cloud release fix the issue for you?

[2022-11-29 16:45] #658 closed

[2022-11-30 00:14] philkuz commented on #614
We are now using Kratos 0.10.1

[2022-11-30 00:14] #614 closed